

.barLink {
    color: #0066CC;
    float: left;
    font-size: 10px;
    font-weight: bold;
    margin-right: 0;
    text-decoration: none;
}
.barLink:hover {
    text-decoration: underline;
    color: #F60E26;
}

