html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ul, li, form, label {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1.5;
}
a img {
    border: none;
}
html {
    font-size: 100.01%}
body {
    font-size: 75%;
    color: #222;
    background: #fff;
    font-family: "Helvetica Neue",  Arial,  Helvetica,  sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #111;
}
h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    margin: 0;
}
p {
    margin: 0 0 1.5em;
}
p img.left {
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0;
}
p img.right {
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
}
a:focus, a:hover {
    color: #000;
}
a {
    color: #009;
    text-decoration: underline;
}
li ul, li ol {
    margin: 0;
}
ul, ol {
    margin: 0 1.5em 1.5em 0;
    padding-left: 3.333em;
}
ul {
    list-style-type: disc;
}
.first {
    margin-left: 0;
    padding-left: 0;
}
.last {
    margin-right: 0;
    padding-right: 0;
}
label {
    font-weight: bold;
}
input[type=text], input[type=password], input.text, input.title, textarea, select {
    background-color: #fff;
    border: 1px solid #bbb;
}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {
    border-color: #666;
}
input[type=text], input[type=password], input.text, input.title, textarea, select {
    margin: 0.5em 0;
}
textarea {
    width: 390px;
    height: 250px;
    padding: 5px;
}
input[type=checkbox], input[type=radio], input.checkbox, input.radio {
    position: relative;
    top: .25em;
}
.container {
    width: 950px;
    margin: 0 auto;
}
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {
    float: left;
    margin-right: 10px;
}
.last {
    margin-right: 0;
}
.span-1 {
    width: 30px;
}
.span-2 {
    width: 70px;
}
.span-3 {
    width: 110px;
}
.span-4 {
    width: 150px;
}
.span-5 {
    width: 190px;
}
.span-6 {
    width: 230px;
}
.span-7 {
    width: 270px;
}
.span-8 {
    width: 310px;
}
.span-9 {
    width: 350px;
}
.span-10 {
    width: 390px;
}
.span-11 {
    width: 430px;
}
.span-12 {
    width: 470px;
}
.span-13 {
    width: 510px;
}
.span-14 {
    width: 550px;
}
.span-15 {
    width: 590px;
}
.span-16 {
    width: 630px;
}
.span-17 {
    width: 670px;
}
.span-18 {
    width: 710px;
}
.span-19 {
    width: 750px;
}
.span-20 {
    width: 790px;
}
.span-21 {
    width: 830px;
}
.span-22 {
    width: 870px;
}
.span-23 {
    width: 910px;
}
.span-24 {
    width: 950px;
    margin-right: 0;
}
.clearfix:after, .container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}
.clearfix, .container {
    display: block;
}
.clear {
    clear: both;
}
body {
    font-family: Verdana,  Geneva,  Arial,  sans-serif;
    background: url(../images/headerBack.gif) repeat-x;
}
#header .logo {
    margin-top: 3px;
    height: 62px;
    width: 283px;
    border: 0;
}
.headerLogo {
    position: absolute;
    left: 0px;
    top: 0px;
}
.headerLogo img, .headerLogo a {
    text-decoration: none;
    float: left;
}
.globalContent, #footer {
    background: url('../images/slice.png') repeat;
}
#footer {
    position: relative;
}
.hcomment {
    height: 30px;
    background-color: #F7F7F7;
    height: 60px;
    border-top: 1px solid #DFDFDF;
    border-bottom: 2px dotted;
}
.hcomment h3 {
    margin-top: 10px 0 0 10px;
    font-size: 22px;
}
.commentBox {
    width: 300px;
}
.bcomment {
    margin-top: 10px;
    border-bottom: 1px solid #DFDFDF;
    background-color: #FCFCFC;
}
.leaveComment {
    font-size: 22px;
    margin-bottom: 25px;
}
.addComment {
    margin: 25px 0;
}
.addComment label {
    width: 80px;
    float: left;
    text-align: right;
    margin-top: 3px;
}
.addComment input[type="text"] {
    float: left;
    margin-left: 3px;
}
.commentClass {
    margin-left: 73px;
    margin-top: -7px;
}
.refresh {
    cursor: pointer;
}
.addComment textarea {
    height: 130px;
    width: 490px;
    margin-left: 3px;
}
.bcomment h4 span {
    float: right;
    font-family: helvetica, arial;
    font-size: 0.8em;
    font-weight: bold;
    margin-right: 10px;
}
.commmarg {
    margin-bottom: 20px;
}
.bcomment h4 {
    color: #000099;
    font-weight: bold;
    height: 20px;
    margin-bottom: 5px;
    margin-left: 2px;
    font-size: 14px;
    font-size: 12px !important;
}
.bcomment p {
    margin-left: 10px;
}
.commentsList {
    width: 590px;
}
#header {
    height: 91px;
    position: relative;
    background: url(../images/headerBack.gif) repeat-x;
}
#shaker {
    position: static;
    width: 283px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}
.footLabel {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
}
#foot {
    background: none repeat scroll 0 0 #F4F4F4;
    height: 150px;
    margin-bottom: 40px;
    margin-top: 40px;
    border-top: 1px dotted gray;
}
.foot {
    width: 960px;
    margin: auto;
}
.foot ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.foot a {
    color: #424242;
    text-decoration: none;
}
.foot a:hover {
    text-decoration: underline;
}
.foot1, .foot2 {
    color: #424242;
    float: left;
}
.foot2 div {
    text-align: center;
    color: white;
}
.dn, #showPictures {
    display: none;
}
.foot2 a {
    color: white;
}
.foot3 {
    margin-top: 20px;
}
.foot4 {
    margin-top: 20px;
    padding-left: 20px;
}
.scriptInfo {
    font-weight: bold;
    margin-top: -10;
    text-decoration: underline;
}
.linkNewWin {
    margin-bottom: 15px;
    text-align: right;
    margin-top: -40px;
}
.newWinOp {
    font-size: 0.75em;
    clear: both;
    float: right;
    margin: 20px 0 -20px;
    color: #a8ceee;
    width: 250px;
}
.newWinOp label {
    cursor: pointer;
    font-weight: normal !important;
}
.generalOptions {
    border-bottom: 2px solid #CFE9FF;
    float: left;
    margin-bottom: 15px;
    width: 258px;
    margin-left: 54px;
}
.generalOptions .inner {
    float: left;
    clear: both;
}
.filterCategories {
    float: left;
    width: 300px;
    margin-bottom: 10px;
}
.filterCategory img {
    float: right;
    cursor: pointer;
}
.filterCategory span {
    float: left;
    margin-right: 10px;
    margin-top: 0px;
}
.filterLabel {
    font-weight: bolder;
    float: left;
    margin: 7px 5px 0 3px;
}
.filterButton {
    float: left;
    margin: 5px 0px 0 0px;
}
.filterCategory {
    float: left;
    border: 1px solid #CCCCCC;
    margin: 5px 5px 0px 0;
    padding: 3px;
    #width: 200px;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    color: #00003A;
}
.clearFilterCategory a {
    color: #8e0202;
}
.clearFilterCategory {
    float: left;
    border: 1px solid #8e0202;
    margin: 5px 5px 0px 0;
    padding: 4px;
    cursor: pointer;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
}
.pictureLink {
    text-align: center;
    padding: 2px 10px;
    border: 1px solid #EBF4FC;
    background-color: #fff;
}
.licenseLogo {
    width: 20px;
}
.pictureSelected {
    font-weight: bold;
    text-align: center;
    padding: 2px 10px;
    border: 1px solid #EBF4FC;
    background-color: #F6AF39;
}
.post {
    margin-top: 10px;
}
.titlemax {
    width: 516px;
}
h1 a {
    font-family: verdana;
    font-size: 0.33em;
    font-weight: bold;
    padding-top: 13px !important;
}
.postTitle {
    margin-top: 20px;
    clear: both;
}
.firstPost {
    float: left;
    font-size: 0.8em;
}
.postTitle h2 a, .postTitle h2 {
    color: #262626;
    text-decoration: none;
    font-size: 32px;
    line-height: 40px;
    font-family: 'Droid Sans', Arial, sans-serif;
    letter-spacing: -1px;
    margin-top: 25px;
    margin-bottom: 0px;
}
.postTitle h2 a:hover {
    color: black;
    text-decoration: underline;
}
.mainPostSocial {
    float: left;
    margin-top: 20px;
    margin-bottom: 15px;
}
.fblike {
    float: left;
    margin-top: 20px;
    margin-bottom: 15px;
}
.categoriesLinks {
    width: 580px;
    float: left;
}
.barLink {
    color: #0066CC;
    float: left;
    font-size: 10px;
    font-weight: bold;
    margin-right: 0;
    text-decoration: none;
}
.barLink:hover {
    text-decoration: underline;
    color: #F60E26;
}
#sections a {
    color: white;
    text-decoration: none;
    height: 52px;
    width: 94px;
    display: block;
    padding: 10px 0;
    text-align: center;
    border-top: 2px solid #1F1F1F;
}
#sections a:hover {
    background-color: #2F2F2F;
    text-decoration: none;
    border-top: 2px solid white;
}
#sections {
    display: none;
    width: 340px;
    height: 73px;
}
#sections ul {
    list-style: none;
    float: right;
    margin: 0;
}
#sections li {
    margin-right: 2px;
    float: left;
}
.sectionActive {
    background-color: #2F2F2F;
    text-decoration: none;
    border-top: 2px solid white !important;
}
.postDescription {
    margin-top: 10px;
    font-size: 1.3em;
    line-height: 1.7em;
}
.lanBox {
    float: right;
    margin-right: 44px;
    margin-top: -14px;
    width: 120px;
}
.feed {
    float: right;
    margin-left: 0;
    margin-right: 0;
    margin-top: -14px;
    width: 114px;
}
.lanBox img {
    float: right;
    height: 20px;
    width: 20px;
}
.EN {
    width: 24px;
    height: 24px;
    background: url(../images/eng24.png) no-repeat;
    float: right;
}
.ES {
    width: 24px;
    height: 24px;
    background: url(../images/spa24.png) no-repeat;
    float: right;
}
#cloud {
    float: right;
    font-size: 1.5em;
    padding: 10px 8px 30px;
    width: 320px;
    line-height: 2;
    font-weight: bold;
}
#cloud .inner {
    margin-left: 32px;
}
.bigSection {
    margin: 20px 0 10px;
    height: 66px;
    border-bottom: 1px dotted #3198db;
}
.bigLink {
    height: 49px;
    width: 179px;
    cursor: pointer;
    display: block;
    float: left;
    outline: none;
}
#leftContent h4 {
    font-size: 22px;
    font-weight: bold;
}
.linkViewEN {
    background: url(../images/view_code.jpg) top left no-repeat;
}
a.linkViewEN:hover {
    background: url(../images/view_code.jpg) bottom left no-repeat;
}
.linkViewES {
    background: url(../images/ver_codigo.jpg) top left no-repeat;
}
a.linkViewES:hover {
    background: url(../images/ver_codigo.jpg) bottom left no-repeat;
}
.blinkDownloadEN {
    background: url(../images/b_download.jpg) top left no-repeat;
}
a.blinkDownloadEN:hover {
    background: url(../images/b_download.jpg) bottom left no-repeat;
}
.blinkDownloadES {
    background: url(../images/b_descargar.jpg) top left no-repeat;
}
a.blinkDownloadES:hover {
    background: url(../images/b_descargar.jpg) bottom left no-repeat;
}
.linkDemoEN {
    background: url(../images/a_livedemo.jpg) top left no-repeat;
}
a.linkDemoEN:hover {
    background: url(../images/a_livedemo.jpg) bottom left no-repeat;
}
.linkDownloadEN {
    background: url(../images/a_download.jpg) top left no-repeat;
}
a.linkDownloadEN:hover {
    background: url(../images/a_download.jpg) bottom left no-repeat;
}
.linkDemoES {
    background: url(../images/a_ejemplo.jpg) top left no-repeat;
}
a.linkDemoES:hover {
    background: url(../images/a_ejemplo.jpg) bottom left no-repeat;
}
.linkDownloadES {
    background: url(../images/a_descargar.jpg) top left no-repeat;
}
a.linkDownloadES:hover {
    background: url(../images/a_descargar.jpg) bottom left no-repeat;
}
.cloudSelected {
    color: #D82E47 !important;
    margin-bottom: 7px;
    margin-top: 7px;
}
.cloud, .clearFilterCategory a {
    text-decoration: none;
}
.cloud:hover {
    text-decoration: underline;
    color: #000099;
}
.skydeg {
    background: url(../images/skydeg.gif) no-repeat;
    float: right;
    width: 336px;
    height: 50px;
}
.ads3 {
    width: 410px;
    margin: 10px 0 10px 0;
}
.ads4 {
    width: 336px;
    margin-top: 60px;
}
.ads5 {
    width: 336px;
    margin: 10px 0 10px 0;
    box-shadow: 1px 1px 5px black;
}
#sky {
    float: right;
    width: 337px;
}
#search {
    background-color: #F0F0F0;
    border: 1px solid #D9D9D9;
    border-radius: 4px 4px 4px 4px;
    height: 36px;
    width: 255px;
    margin: 5px 0 10px 53px;
    padding: 0px;
}
#search input {
    float: left;
    background-color: #FFFFFF;
    border: 1px solid #C7C7C7;
    border-radius: 3px;
    color: #747472;
    font-size: 13px;
    height: 27px;
    outline: 0 none;
    width: 200px;
    margin: 3px;
    padding-left: 3px;
    #margin-left: -50px;
}
#search a {
    float: left;
    margin: 3px;
    width: 30px;
    height: 30px;
}
#search img {
    width: 30px;
    height: 30px;
}
.lanDescription {
    float: right;
    color: white;
    font-size: 0.75em;
    font-weight: bold;
    margin-top: 14px;
    margin-right: 4px;
}
.docs {
    background: none repeat scroll 0 0 white;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #1C94C4;
    font-weight: bold;
    margin-right: 5px;
    outline: medium none;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
}
#edition input[type="text"] {
    width: 400px;
    float: left;
}
#edition .sec {
    float: left;
    clear: both;
}
#edition label {
    float: left;
    width: 150px;
    text-align: right;
    display: block;
}
.searchFound {
    color: blue;
    font-size: 0.75em;
    font-weight: bold;
    margin-left: 17px;
    margin-left: 4px;
    margin-top: 5px;
}
.pagination {
    font-size: 80%;
    margin: 30px auto 0;
    float: left;
}
.loginBox {
    background-color: #C6E1F2;
    border: 2px solid #3198DB;
    box-shadow: 0 0 5px black;
    border-radius: 5px 5px 5px 5px;
    height: 100px;
    margin-left: 95px;
    _margin-left: 430px;
    margin-top: 10px;
    width: 187px;
}
.loginButton {
    background: url("../images/login.png") no-repeat scroll left top transparent;
    display: block;
    height: 30px;
    margin-left: 108px;
    _margin-left: 430px;
    margin-top: 4px;
    width: 72px;
}
.loginButton:hover {
    background: url("../images/login.png") no-repeat scroll left bottom transparent;
}
.arrow {
    background-image: url("../images/arrow.png");
    display: block;
    height: 11px;
    margin-bottom: -10px;
    margin-left: 134px;
    _margin-left: 459px;
    width: 15px;
}
.plusone {
    left: 320px;
    position: absolute;
    top: 10px;
}
#loginContainer {
    display: none;
    position: relative;
}
.pagination a {
    text-decoration: none;
    border: solid 1px #AAE;
    color: #15B;
}
.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.79em;
    margin-right: 1px;
    margin-bottom: 5px;
    min-width: 1em;
    text-align: center;
}
.pagination .current {
    background: #26B;
    color: #fff;
    border: solid 1px #AAE;
}
.pagination a:hover {
    background: #FEFF8F;
    border: solid 1px #AAE;
}
.pagination .current.prev, .pagination .current.next {
    color: #999;
    border-color: #999;
    background: #fff;
}
.tagLabel {
    float: left;
    font-weight: bold;
    font-size: 10px;
    margin-right: 3px;
    color: #666666;
}
.pageTipsGroup {
    border-top: 2px solid blue;
    margin-top: 20px;
}
.pageTipsGroup p {
    margin: 0;
}
.categoriesSection {
    box-shadow: 1px 0 5px black;
    border: 1px solid #D9D9D9;
    background-color: white;
    float: left;
    list-style: none outside none;
    margin: 20px 0 0 32px;
    _margin: 20px 0 0 15px;
    padding: 0;
    width: 254px;
    height: 309px;
    border-radius: 5px;
    overflow: hidden;
}
.categoriesSection a.sectionLink {
    background: url(../images/mark.gif) no-repeat center left;
    padding-left: 12px;
}
.mark {
    background: url(../images/mark.gif) no-repeat center left;
    padding-left: 12px;
}
.faceMaxBox {
    float: left;
    margin-left: 33px;
    _margin-left: 15px;
    margin-top: 20px;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
}
.videosBanner {
    margin-bottom: 20px;
    margin-top: 2;
    box-shadow: 0px 0px;
    #margin-top: 2;
}
.videosBanner img {
    border-radius: 5px;
}
.sectionLink {
    text-decoration: none;
    font-family: Verdana;
    font-size: 12px;
    color: #555;
}
.sectionLink:hover {
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted gray;
}
.categoriesSection li {
    margin: 0 10px 0 10px;
    border-bottom: 1px solid #dfdfdf;
    width: 254px;
    height: 35px;
}
.minText {
    font-size: 10px;
    float: left;
    margin-top: 8px;
}
.categoriesSection .title {
    background: url("../images/category.gif") no-repeat scroll 39px 41px transparent;
    border: 0 none;
    color: #8A0023;
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 10px 0 8px;
    text-decoration: none;
}
.title img {
    float: left;
    margin-left: 2px;
    margin-right: 4px;
    margin-top: -6px;
}
.commentTitle img {
    float: left;
    margin-left: 2px;
    margin-right: 4px;
    margin-top: -6px;
}
.more span {
    color: #8A0023;
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
}
.more a {
    color: #303436;
    display: block;
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
.moreLink {
    width: 127px;
    text-align: center;
}
.l, #filterAdder, .filterSelect, .pageTipBox {
    float: left;
}
.filterSelect, .filterAdder {
    width: 300px;
}
.filterSelect a {
    background-color: snow;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: black;
    display: block;
    float: left;
    font-size: 12px;
    padding: 5px;
    text-decoration: none;
    height: 20px;
    #line-height: 1;
}
.filterSelect a:hover {
    background-color: #E3F1FB !important;
    border: 1px solid #8CC5F7;
}
.filterSelectLink {
    background: url("images/arrows.png") no-repeat scroll 228px center snow;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: gray;
    float: left;
    margin-bottom: 15px;
    padding: 5px;
    text-decoration: none;
    width: 243px;
    margin-right: 380px;
}
.filterSelectLink:hover {
    background-color: #E3F1FB !important;
    border: 1px solid #8CC5F7;
}
.r, .adsa {
    float: right;
}
.mainComment {
    border-bottom: 1px solid #DFDFDF;
    width: 224px;
    margin-left: 10px;
    margin-top: 10px;
}
.mainComment h4 {
    color: black;
    font-weight: bold;
    float: left;
}
.mainCommentInfo {
    width: 70px;
    float: right;
    text-align: right;
}
.commentTitle {
    border-bottom: 1px solid #DFDFDF;
    width: 253px;
    padding-bottom: 3px;
}
.commentTitle h3 {
    padding-bottom: 3px;
}
.commentLinks {
    text-align: left;
    margin: -15px 2px 13px 0;
}
.commentLinks a {
    color: #0066CC;
    font-size: 10px;
    font-weight: bold;
}
.commentBoxPanel {
    background-color: white;
    width: 255px;
    margin-left: 40px;
    padding-top: 15px;
    border-radius: 5px;
    box-shadow: 1px 0 5px black;
    border: 1px solid #D9D9D9;
}
.facebookLogin {
    float: left;
    margin: 30px 0 0 0px;
    height: 30px;
    width: 285px;
    _width: 200px;
}
.ilikeit {
    margin: 44px 0 0 320px;
    _margin: 0px 0 0 220px;
    float: left;
}
h3.titleLabel {
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #262626;
    font: 1.67em Arial, Helvetica, sans-serif;
}
.titleLine {
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 8px;
}
.socialItems {
    float: right;
    margin-right: 43px;
    margin-top: -20px;
}
.socialItems img, centralImage a {
    border: 0;
}
.userInfo {
    clear: both;
    color: white;
    font-weight: bold;
    margin-left: 54px;
}
.faceLogin {
    float: left;
    margin-left: 10px;
    margin-top: 16px;
}
.faceLogout {
    float: left;
    margin-left: 100px;
    margin-top: 3px;
}
.faceLogout img {
    background-color: white;
    border: 0;
}
.tTip img {
    float: left;
    padding-top: 3px;
}
.followus {
    margin-left: 40px;
    color: #262626;
    font-family: Arial;
    margin-top: 30px;
}
.tipLanLabel {
    font-weight: bold;
    margin-top: 5px;
    float: left;
}
.twitterLogin {
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}
#colorbox, #cboxOverlay, #cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}
#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%}
#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}
#cboxContent {
    position: relative;
    overflow: visible;
}
#cboxLoadedContent {
    overflow: auto;
}
#cboxLoadedContent iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
}
#cboxTitle {
    margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer;
}
#cboxOverlay {
    background: #2F2F2F;
}
#cboxTopLeft {
    width: 14px;
    height: 14px;
    background: url(images/controls.png) 0 0 no-repeat;
}
#cboxTopCenter {
    height: 14px;
    background: url(images/border.png) top left repeat-x;
}
#cboxTopRight {
    width: 14px;
    height: 14px;
    background: url(images/controls.png) -36px 0 no-repeat;
}
#cboxBottomLeft {
    width: 14px;
    height: 43px;
    background: url(images/controls.png) 0 -32px no-repeat;
}
#cboxBottomCenter {
    height: 43px;
    background: url(images/border.png) bottom left repeat-x;
}
#cboxBottomRight {
    width: 14px;
    height: 43px;
    background: url(images/controls.png) -36px -32px no-repeat;
}
#cboxMiddleLeft {
    width: 14px;
    background: url(images/controls.png) -175px 0 repeat-y;
}
#cboxMiddleRight {
    width: 14px;
    background: url(images/controls.png) -211px 0 repeat-y;
}
#cboxContent {
    background: #fff;
}
#cboxLoadedContent {
    margin-bottom: 5px;
}
#cboxLoadingOverlay {
    background: url(images/loading_background.png) center center no-repeat;
}
#cboxLoadingGraphic {
    background: url(images/loading.gif) center center no-repeat;
}
#cboxTitle {
    position: absolute;
    bottom: -25px;
    left: 0;
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: #7C7C7C;
}
#cboxCurrent {
    position: absolute;
    bottom: -25px;
    left: 58px;
    font-weight: bold;
    color: #7C7C7C;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    position: absolute;
    bottom: -29px;
    background: url(images/controls.png) 0px 0px no-repeat;
    width: 23px;
    height: 23px;
    text-indent: -9999px;
}
#cboxPrevious {
    left: 0px;
    background-position: -51px -25px;
}
#cboxPrevious.hover {
    background-position: -51px 0px;
}
#cboxNext {
    left: 27px;
    background-position: -75px -25px;
}
#cboxNext.hover {
    background-position: -75px 0px;
}
#cboxClose {
    right: 0;
    background-position: -100px -25px;
}
#cboxClose.hover {
    background-position: -100px 0px;
}
.cboxSlideshow_on #cboxSlideshow {
    background-position: -125px 0px;
    right: 27px;
}
.cboxSlideshow_on #cboxSlideshow.hover {
    background-position: -150px 0px;
}
.cboxSlideshow_off #cboxSlideshow {
    background-position: -150px -25px;
    right: 27px;
}
.cboxSlideshow_off #cboxSlideshow.hover {
    background-position: -125px 0px;
}
.tTip {
    color: #009;
    cursor: pointer;
    float: left;
    font-size: .8em;
    font-weight: 700;
    width: 200px;
}
.tip {
    background: transparent url(images/tipTop.png) no-repeat top;
    color: #000;
    display: none;
    overflow: hidden;
    padding-top: 37px;
    position: absolute;
    width: 212px;
    z-index: 500;
}
.tipMid {
    background: transparent url(images/tipMid.png) repeat-y;
    padding: 0 20px 5px;
    text-align: left;
}
.tipBtm {
    background: transparent url(images/tipBtm.png) no-repeat bottom;
    height: 32px;
}
.lanTipEN, .lanTipES, .lanTip {
    float: right;
}
.dk_container {
    background: -webkit-gradient(linear,  left top,  left bottom,  from(#fff),  to(#f5f5f5));
    background: -moz-linear-gradient(top,  #fff,  #f5f5f5);
    background: -o-linear-gradient(top,  #fff,  #f5f5f5);
    background-color: #f5f5f5;
    font-family: 'Helvetica',  Arial,  sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    margin-bottom: 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.dk_container:focus {
    outline: 0;
}
.dk_container a {
    cursor: pointer;
    text-decoration: none;
}
.dk_toggle {
    background-image: url('../lib/DropKick/images/dk_arrows.png');
    background-repeat: no-repeat;
    background-position: 90% center;
    border: 1px solid #ccc;
    color: #333;
    padding: 7px 45px 7px 10px;
    text-shadow: #fff 1px 1px 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-transition: border-color .5s;
    -moz-transition: border-color .5s;
    -o-transition: border-color .5s;
    transition: border-color .5s;
}
.dk_toggle:hover {
    border-color: #8c8c8c;
}
.dk_focus .dk_toggle {
    border-color: #40b5e2;
}
.dk_focus .dk_toggle {
    box-shadow: 0 0 5px #40b5e2;
    -moz-box-shadow: 0 0 5px #40b5e2;
    -webkit-box-shadow: 0 0 5px #40b5e2;
}
.dk_open {
    box-shadow: 0 0 5px #40b5e2;
    -moz-box-shadow: 0 0 5px #40b5e2;
    -webkit-box-shadow: 0 0 5px #40b5e2;
    z-index: 10;
}
.dk_open .dk_toggle {
    background-color: #ececec;
    border-color: #8c8c8c;
    color: #ccc;
    box-shadow: inset 0 -2px 5px #ccc;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}
.dk_options {
    box-shadow: rgba(0,  0,  0,  .2) 0 2px 8px;
    -moz-box-shadow: rgba(0,  0,  0,  .2) 0 2px 8px;
    -webkit-box-shadow: rgba(0,  0,  0,  .2) 0 2px 8px;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}
.dk_options a {
    background-color: #fff;
    border-bottom: 1px solid #999;
    font-weight: bold;
    padding: 8px 10px;
}
.dk_options li:last-child a {
    border-bottom: none;
}
.dk_options a:hover, .dk_option_current a {
    background-color: #0084c7;
    border-bottom-color: #004c72;
    color: #fff;
    text-decoration: none;
    text-shadow: rgba(0,  0,  0,  .5) 0 1px 0;
}
.dk_options_inner {
    border: 1px solid #8c8c8e;
    border-bottom-width: 2px;
    border-bottom-color: #999;
    color: #333;
    max-height: 250px;
    text-shadow: #fff 0 1px 0;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}
.dk_options_inner, .dk_touch .dk_options {
    max-height: 250px;
}
.dk_container {
    display: none;
    float: left;
    position: relative;
}
.dk_container a {
    outline: 0;
}
.dk_toggle {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    position: relative;
    zoom: 1;
}
.dk_open {
    position: relative;
}
.dk_open .dk_options {
    display: block;
}
.dk_open .dk_label {
    color: inherit;
}
.dk_options {
    display: none;
    margin-top: -1px;
    position: absolute;
    right: 0;
    width: 100%}
.dk_options a, .dk_options a:link, .dk_options a:visited {
    display: block;
}
.dk_options_inner {
    overflow: auto;
    position: relative;
}
.dk_touch .dk_options {
    overflow: hidden;
}
.dk_touch .dk_options_inner {
    max-height: none;
    overflow: visible;
}
.dk_fouc select {
    position: relative;
    top: -99999em;
    visibility: hidden;
}
.dk_options ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.filterButton {
    height: 30px;
    margin: 0;
    width: 85px;
}
.container {
    width: 1142px;
    margin: 0 auto;
}
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {
    float: left;
    margin-right: 10px;
}
.last {
    margin-right: 0;
}
.span-1 {
    width: 38px;
}
.span-2 {
    width: 86px;
}
.span-3 {
    width: 134px;
}
.span-4 {
    width: 182px;
}
.span-5 {
    width: 230px;
}
.span-6 {
    width: 278px;
}
.span-7 {
    width: 326px;
}
.span-8 {
    width: 374px;
}
.span-9 {
    width: 422px;
}
.span-10 {
    width: 470px;
}
.span-11 {
    width: 518px;
}
.span-12 {
    width: 566px;
}
.span-13 {
    width: 614px;
}
.span-14 {
    width: 662px;
}
.span-15 {
    width: 710px;
}
.span-16 {
    width: 758px;
}
.span-17 {
    width: 806px;
}
.span-18 {
    width: 854px;
}
.span-19 {
    width: 902px;
}
.span-20 {
    width: 950px;
}
.span-21 {
    width: 998px;
}
.span-22 {
    width: 1046px;
}
.span-23 {
    width: 1094px;
}
.span-24 {
    width: 1142px;
    margin-right: 0;
}
.globalContent, #footer {
    background: url("../images/slice.png") repeat scroll right 0 transparent;
}
.foot {
    width: 1142px;
}
#search, .generalOptions {
    margin-left: 120px !important;
}}