body {

  font-family: "Roboto", Arial, "Helvetica Neue", sans-serif;

  font-weight: 400;

  font-size: 15px;

  line-height: -webkit-calc(25/15);

  line-height: -moz-calc(25/15);

  line-height: calc(25/15);

  color: #555555;

  -webkit-font-smoothing: antialiased;

  /* Fix for webkit rendering */

  -webkit-text-size-adjust: 100%;

}