/* ----------- FONT ---------------------------- */



@charset "UTF-8";







@font-face {



    font-family: mhnfont1;



    src: url(MavenPro-Regular.woff);



}



@font-face {



    font-family: mohanokor;



    src: url(KhmerOSContent.ttf);



}







@font-face {



    font-family: exchangerate;



    src: url(Moul.ttf);



}







@font-face {



    font-family: moullight;



    src: url(KhmerOSMoul.ttf);



}







@font-face {



    font-family: contents;



    src: url(KhmerOSContent.ttf);



}







@font-face {



    font-family: names;



    src: url(Dangrek.ttf);



}







@font-face {



    font-family: edu_exp;



    src: url(Taprom.ttf);



}







@font-face {



    font-family: jobs;



	font-weight:normal;



    src: url(Preahvihear.ttf);



}







body {



  font-family: contents;



  font-size: 14px;



  background:#FFF;



  color: #000;



}

