html,
body {
	padding: 0;
	margin: 0;
}

body:lang(kh) {
	line-height: 33px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	margin: 20px 0 10px 0;
}

h4,
h5,
h6 {
	font-size: 16px;
	font-weight: bold;
}
p {
	margin: 0 0 10px 0;
}
a,
a:link,
a:active,
a:visited,
a:hover {
	color: inherit;
	text-decoration: none;
}

nav:not(.mm-menu) {
	display: none;
}
:root {
	--mm-sidebar-expanded-size: 250px;
	--mm-sidebar-collapsed-size: 0px;
}
.mm-menu {
	--mm-listitem-size: 50px;
	--mm-navbar-size: 50px;
}

@media (min-width: 992px) {
}

.mm-navbar_tabs span {
	display: inline-block;
	margin-left: 5px;
}
@media (max-width: 450px) {
	.mm-navbar_tabs span {
		display: none;
	}
}
#page {
	background-color: #f3f2f2;
}
.content {
	float: left;
	width: 100%;
}
.content .bg_w {
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	float: left;
	width: 100%;
}
img {
	max-width: 100%;
}

.header.fixed {
	position: fixed;
	top: 0;
	left: 0;
}
.footer.fixed {
	left: 0;
	position: fixed !important;
	z-index: 1024;
	right: 0;
	bottom: 0;
}
.header .mmmmm-menu {
	float: left;
	margin-top: 7px;
}
.header .mmmmm-menu:before,
.header .mmmmm-menu:after {
	content: "";
	display: block;
	background: #333;
	height: 2px;
	width: 28px;
}
.header .mmmmm-menu span {
	background: #333;
	display: block;
	height: 2px;
	width: 28px;
	margin: 6px 0;
}
.header .logo-company {
	float: left;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	height: 58px;
	overflow: hidden;
}

.header .logo-company a img {
	width: 110px;
}
.footer-mm ul {
	margin: 0px;
	padding: 0px;
}
.footer-mm ul li {
	display: inline-block;
	padding: 0px 15px;
}
.footer-mm ul li:first-child {
	padding-left: 0px;
}
.footer-mm ul li:last-child {
	padding-right: 0px;
}
.footer-mm ul li a {
	text-decoration: none;
}
.view_cart {
	border: 1px solid #eee;
	padding: 6px 20px;
	background-color: #eee;
	color: #000;
	display: inherit;
	text-transform: uppercase;
	float: right;
	text-align: center;
	margin-right: 15px;
}

.carousel-indicators li {
	background-color: #fa6165;
	width: 10px;
	height: 10px;
	margin-right: 7px;
	margin-left: 7px;
	border-radius: 50%;
}

.product .item {
	background-color: #fff;
	float: left;
	position: relative;
	margin-bottom: 30px;
	text-align: center;
	width: 100%;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-ms-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
.product .item:hover {
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-ms-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.product .item .price-title {
	padding: 0px 10px 10px 10px;
	float: left;
	width: 100%;
}
.product .item .price-title .title {
	float: left;
	width: 100%;
}
.product .item .price-title .price {
	float: left;
	width: 100%;
}
.product .item .price-title .price span {
	color: #ed321e;
	padding-right: 10px;
	font-weight: bold;
	font-size: 13px;
}
.product .item .price-title .price del {
	color: #666;
	font-size: 10px;
}
.product .item .thumbnail {
	position: relative;
	overflow: hidden;
}
.product .item .thumbnail img {
	border-radius: 5px;
}
.percent-saleoff {
	background: rgba(250, 97, 101, 1) none repeat scroll 0 0;
	color: #fff;
	height: 30px;
	left: 10px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: -7px;
	width: 46px;
	z-index: 2;
}
.percent-saleoff label {
	display: block;
	font-size: 14px;
	margin: 2px 0 -10px;
}
.percent-saleoff span {
	display: block;
	font-size: 12px;
	position: relative;
	z-index: 99;
}
.percent-saleoff::before {
	background: rgba(0, 0, 0, 0) url("../images/shape.png") no-repeat scroll center top;
	content: "";
	display: block;
	height: 10px;
	left: -4px;
	position: absolute;
	top: 0px;
	width: 54px;
	z-index: 999;
}
.percent-saleoff::after {
	width: 0;
	height: 0;
	border-left: 23px solid transparent;
	border-right: 23px solid transparent;
	border-top: 12px solid rgba(250, 97, 101, 1);
	position: absolute;
	bottom: -12px;
	content: "";
	left: 0;
}

.product-info-cart {
	bottom: 0;
	left: 0;
	position: absolute;
	text-align: center;
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	width: 100%;
	transition: all 0.3s ease-out 0s;
}

.item:hover .product-info-cart {
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
}
.more-to-love .item,
.more-to-love .item .thumbnail {
	min-height: auto !important;
}
.more-to-love .item {
	background-color: #fff;
	border: 1px solid #eee;
}
.more-to-love .item .thumbnail {
	padding: 10px;
}
.more-to-love .item .thumbnail img {
	border-radius: 5px;
}
.more-to-love .item .price-title .price {
	font-size: 15px;
}
.more-to-love .product-info-cart .addcart-link {
	font-size: 10px !important;
}

.mm-menu_theme-dark {
	--mm-color-border: #dadada !important;
	--mm-color-button: #333 !important;
	--mm-color-text: #000 !important;
	--mm-color-text-dimmed: #333 !important;
	--mm-color-background: #fff !important;
	--mm-color-background-highlight: #eee !important;
	--mm-color-background-emphasis: #fbfbfb !important;
	--mm-shadow: 0 0 20px rgba(0, 0, 0, 0.1) !important;
}

.card-header-product {
	float: left;
	width: 100%;
	padding: 6px 0px;
	position: relative;
}
.card-header-product .view {
	float: left;
	margin-right: 20px;
}
.card-header-product .view-gallery {
	float: left;
	width: 30px;
	margin-right: 10px;
}
.card-header-product .view-gallery i {
	float: left;
	width: 10px;
	height: 10px;
	margin: 1px;
	border: 1px solid #6c757d;
}
.card-header-product .list-gallery {
	float: left;
	width: 30px;
}
.card-header-product .list-gallery i {
	float: left;
	width: 24px;
	height: 4px;
	background: #6c757d;
	margin: 2px;
	border: 1px solid #eee;
}
.card-header-product .view-gallery i:focus,
.card-header-product .list-gallery i:focus {
	outline: none;
}
.card-header-product .list-gallery:hover,
.card-header-product .view-gallery:hover {
	cursor: pointer;
}
.card-header-product .view-gallery.active i {
	border: 1px solid #fa6165;
}
.card-header-product .list-gallery.active i {
	background: #fa6165;
}
#horizontal_list .item {
	min-height: auto !important;
}

/* PAGINATIN */
.e {
	margin-bottom: 80px !important;
}
.e .pagination {
	margin: 8px 0px;
	float: right;
}
.e .pagination > .active > a,
.e .pagination > .active > span,
.e .pagination > .active > a:hover,
.e .pagination > .active > span:hover,
.e .pagination > .active > a:focus,
.e .pagination > .active > span:focus,
.e .pagination > .active > a,
.e .pagination > .active > span,
.e .pagination > .active > a:hover,
.e .pagination > .active > span:hover,
.e .pagination > .active > a:focus,
.e .pagination > .active > span:focus {
	background-color: #f4f4f4;
	border-color: #dddddd;
	color: inherit;
	outline: none;
	cursor: default;
	z-index: 2;
}

.e .pagination li:first-child a {
	background: url(../images/back.png) -7px/60px !important;
	background-repeat: no-repeat;
}
.e .pagination li:last-child a {
	background: url(../images/next.png) -31px/60px !important;
	background-repeat: no-repeat;
}

.e .pagination li:last-child a:focus,
.e .pagination li:first-child a:focus,
.e .pagination li:first-child a:hover,
.e .pagination li:last-child a:hover,
.e .pagination li:first-child a,
.e .pagination li:last-child a {
	text-indent: -9999px;
	white-space: nowrap;
	overflow: hidden;
	color: transparent;
	outline: none;
}
.e .pagination > li > a,
.e .pagination > li > span .e .pagination > li > a,
.e .pagination > li > span {
	background-color: #ffffff;
	border: 0px solid #dddddd;
	float: left;
	width: 25px;
	height: 25px;
	line-height: 15px;
	margin: 0px 7px;
	padding: 4px 8px;
	position: relative;
	text-decoration: none;
	outline: none;
}
.e .pagination > li > a,
.e .pagination > li > span,
.e .pagination > li:last-child > a,
.e .pagination > li:last-child > span,
.e .pagination > li > a,
.e .pagination > li > span,
.e .pagination > li:last-child > a,
.e .pagination > li:last-child > span {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

/* product detail */
.product-detail .size {
	border: 1px solid #eee;
	padding: 3px 8px;
	margin-right: 5px;
}
.product-detail .slick-slide,
.product-detail .product-images {
	max-height: 395px !important;
}
.product-detail .photo-color .thumbnail-img {
	width: 60px;
	height: 60px;
	float: left;
	position: relative;
	border-radius: 5px;
	border: 1px solid #eee;
	overflow: hidden;
	margin-right: 10px;
}
.product-detail .number-of-qty {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.product-detail .text-number input {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid #fff;
	text-align: center;
	float: left;
}
.product-detail .text-number input:focus {
	outline: none;
}
.product-detail .add-sm,
.product-detail .mini-sm {
	background-color: #eee;
	height: 25px;
	text-align: center;
	width: 25px;
	border-radius: 50%;
	float: left;
}
.product-detail .add-sm:hover,
.product-detail .mini-sm:hover {
	cursor: pointer;
}
.product-detail .product-price {
	font-weight: 600;
}
.product-detail .product-price-mark {
	display: inline-block;
	padding: 2px 5px;
	border-radius: 3px;
	background: #fff1f1;
	color: #ff4747;
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	font-size: 12px;
	font-weight: 600;
	vertical-align: middle;
}
.product-detail .text-muted {
	font-size: 16px;
}
.product-detail .product-detail .ibox-content {
	padding: 30px 30px 50px 0px;
	position: relative;
	overflow: hidden;
}
.product-detail .product-detail .ibox-content .col-md-5 {
	position: relative;
	overflow: hidden;
}
.product-detail .image-imitation {
	background-color: #f8f8f9;
	text-align: center;
}
.product-detail .product-main-price small {
	font-size: 10px;
}
.product-detail .inlineBlock,
.product-detail ._89n_ {
	background-color: #166c95 !important;
}
.product-detail .product_overview .tab-border ul {
	padding: 10px;
	border-bottom: 0px;
	/*background-color: #eee;*/
}
.product-detail .product_overview .tab-border ul li {
}
.product-detail .product_overview .tab-border ul li a {
	color: #333;
	padding: 10px;
	font-size: 18px;
}
.product-detail .product_overview .tab-border ul li a.active {
	color: #166c92;
	text-decoration: underline;
}
.product-detail .product_overview .tab-content {
	margin-top: 30px;
}
.product-detail .buy_now {
	padding: 6px 10px;
	float: left;
	width: 100%;
}
.product-detail .order_now {
	border: 1px solid #eee;
	background-color: #eee;
	color: #000;
	-webkit-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.product-detail .order_now:hover {
	border: 1px solid #166c92;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.product-detail .add_to_cart,
.product-detail .wish_list {
	background-color: #fff;
	border: 1px solid #166c92;
	-webkit-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.product-detail .wish_list:hover,
.product-detail .add_to_cart:hover {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.view_more {
	text-decoration: none;
	background-color: rgba(250, 97, 101, 1);
	padding: 6px 20px;
	border-radius: 20px;
	color: #fff !important;
}
.view_more:hover {
	cursor: pointer;
}
#remove-row {
	float: left;
	width: 100%;
	margin-bottom: 90px;
}
