@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");
body {
    font-family: "Roboto", "Battambang", sans-serif !important;
    font-size: 14px;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
img {
    max-width: 100%;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
#myCarousel {
    min-height: 300px;
}
.container-fluid {
    width: 90%;
}
.fixed-top {
    padding-bottom: 0px;
    padding-top: 0px;
}
.logo {
    margin-right: 10%;
    width: 120px;
}
.logo img {
    max-width: 100%;
}
.hum {
    width: 38px;
    height: 3px;
    background-color: #dc3545;
    margin: 6px 0;
}
.headertop {
    padding: 5px 0px;
}
.menu-header li {
    padding-right: 30px;
}
.menu-header li a {
    color: #5a5a5a;
    text-decoration: none;
    font-size: 13px;
}
.language {
    text-align: right;
    font-size: 14px;
}
.language a {
    color: #5a5a5a;
    text-decoration: none;
}
.language a:hover {
    color: #dc3545;
}
.main-menu li {
    padding-right: 15px;
    padding-top: 3px;
    padding-left: 0px;
    padding-bottom: 3px;
}
.main-menu li a.nav-link {
    color: #5a5a5a;
    font-weight: bold;
    padding-left: 0px !important;
    font-size: 14px;
}
.main-menu li a[aria-current="page"] {
    color: #dc3545;
}
.main-menu li a:hover {
    color: #dc3545;
}
.topscroll {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -moz-animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
    opacity: 1;
    height: 33px;
}
.hide-up {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -moz-animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    height: 0px !important;
    opacity: 0;
}
.text-top {
    top: 20px;
    width: 30%;
}
.social {
    padding-top: 5px;
    text-align: right;
    padding-left: 0px;
}
.social li {
    display: inline-block;
    list-style: outside none none;
    margin-left: 8px;
    width: 30px;
    overflow: hidden;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.social li a {
    float: left;
    height: 30px;
    width: 30px;
    background-color: #3b3b3c;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.social li:hover a {
    background-color: transparent;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
/** Home **/
.marketing .description {
    padding: 10px 5px;
    float: left;
    width: 100%;
}
.marketing .description h2 {
    font-weight: bold;
    color: #5a5a5a;
    margin-top: 10px;
}
.marketing .box {
    overflow: hidden;
    float: left;
    width: 100%;
    min-height: 220px;
}

.marketing .box img {
    transition: 0.3s;
}
.marketing .box img:hover {
    transform: scale(1.2);
    transition: 0.3s;
}
.marketing .description p {
    font-size: 14px;
    color: #dc3545;
}
.marketing a {
    text-decoration: none;
    position: relative;
    float: left;
    width: 100%;
}
.marketing img {
    width: 100%;
}
.marketing-3 {
    background-image: url("../assets/img/bg-01.jpg");
    padding-bottom: 30px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.marketing-3 .col-lg-6,
.marketing-3 .col-lg-12 {
    position: relative;
}
.marketing-3 .description {
    position: absolute;
    padding: 30px;
    top: 0;
    width: 200px;
}
.marketing-3 a > .description h2 {
    color: #fff;
}
.marketing-3 .col-lg-12 > a > .description h2 {
    color: #5a5a5a;
}
/*********mobile********/
.language-mobile {
    float: left;
    padding-top: 10px;
    padding-bottom: 5px;
}
.language-mobile a {
    text-decoration: none;
    color: #333;
}
/**product **/
.main-product .group {
    position: relative;
    overflow: hidden;
    color: #fff;
    min-height: 300px;
}
.main-product .description {
    position: absolute;
    top: 20%;
    margin-left: 30px;
    width: 27%;
}
.main-product .description.straight-tube {
    text-align: center;
    margin-left: 80px;
    width: 27%;
}
.main-product .description h2 {
    color: #fff;
    font-weight: bolder;
    text-transform: capitalize;
}
.product-detail h2 {
    color: #fff !important;
}
.product-detail-desc {
    background-color: #000;
    color: #fff;
    padding: 30px 0px;
}
.features-title {
    text-align: center;
}
.features-title h2 {
    padding-left: 176px;
    font-weight: bolder;
    font-size: 50px;
}

.features {
    margin: 0 auto;
}
.features tr {
    padding: 8px 10px;
}
.features td {
    padding: 5px;
}
.product-box {
    text-align: center;
    padding: 60px;
    margin-bottom: 25px;
    min-height: 650px;
}
.product-box-first .first p {
    margin: 0px;
}
.product-box-first .first:nth-child(even) p {
    color: #000;
    font-weight: bold;
    font-size: 18px;
}
.product-box h2 {
    font-weight: bold;
    color: #333;
    width: 81%;
    margin-top: 25px;
    display: inline-block;
    text-align: center;
}
.product-box a {
    text-decoration: none;
}
.product-box h3 {
    font-weight: bold;
    color: #333;
    font-size: 19px;
}
.product-box.gray {
    background-color: #f2f2f2;
}
.product-box.yellow {
    background-image: linear-gradient(to bottom right, #fcebc5, #fad6bd);
}
.product-box.imgage {
    background: url("../assets/img/copper-product-01.jpg");
}
.air {
    padding: 30px 0px;
    background-color: #eee;
}
.air h2 {
    color: #333;
    font-weight: bold;
    margin-bottom: 30px;
}
.air p {
    text-align: center;
    font-size: 20px;
    color: #333;
    width: 80%;
    font-weight: 600;
    margin: 30px auto 0 auto;
}
.Working {
    position: relative;
    overflow: hidden;
}
.Working .box {
    position: absolute;
    bottom: 0;
    color: #fff;
    left: 0;
    right: 0;
    text-align: center;
    width: 66%;
    margin: 0 auto;
}
.air.copper {
    background-color: #fff !important;
}
.production-bg {
    background: url("../assets/img/product-bg-01.jpg");
}
.production-bg .production-box {
    padding: 64px 90px 0px 90px;
}
.production-bg .production-box h2 {
    color: #fff;
    font-weight: bold;
    width: 47%;
    margin-top: 0;
    padding-bottom: 115px;
}
.production-bg img {
    height: 100%;
}
.production-bg .production-box ul li {
    color: #333;
    font-size: 18px;
    padding: 5px 0px;
}
/** news events **/
.news-events {
    margin: 0 auto;
}
.news-events .title {
    font-weight: bold;
    padding: 30px 0px;
}
.news-events hr:not([size]) {
    height: 2px;
    margin-top: 20px;
}
.news-events .box img {
    width: 100%;
}
.event-detail {
    padding: 11px 0px;
}
.relate {
    background-color: #eee;
}
.event-detail h2 {
    color: #333;
    overflow-wrap: break-word;
    font-size: 23px;
}
.event-detail {
    font-size: 15px;
}
.event-detail .news-events img {
    width: 100% !important;
    height: auto !important;
}
.marketing .icon-news img {
    position: absolute;
    left: 20px;
    width: 40px;
    margin-top: -17px;
}
.marketing .description h3 {
    color: #3b3b3c;
    margin-top: 22px;
    font-size: 18px;
    width: 80%;
}
.news-events a:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
}
.news-events a:hover h3 {
    color: #dc3545;
}
.news-events a,
.news-events a:hover h3 {
    transition: 0.5s;
}
.btn-next img {
    width: 45px;
    cursor: pointer;
}
/** footer **/
.footer-top {
    padding-top: 30px;
}
.footer-top a {
    text-decoration: none;
    color: #5a5a5a;
    word-break: break-all;
}
.footer-top a:hover {
    color: #dc3545;
}
.footer-top h3 {
    font-weight: bold;
}
.box-footer {
    text-align: center;
    padding: 30px 0px;
}
.footer {
    font-size: 14px;
    padding: 30px 0px 0px 0px;
    line-height: 50px;
}
.footer-right {
    text-align: right;
}
.box-footer .icon img {
    width: 40px;
}
.footer-right img {
    width: 100px;
    margin-top: -39px;
}
@media (max-width: 768px) {
    .container-fluid {
        width: 100%;
        padding: 0px;
    }
    .border-mobile {
        border-top: 1px solid #eee;
    }
    .footer .footer-right,
    .footer {
        text-align: center;
    }
    .text-top {
        top: 10px;
        width: 100%;
    }
    .marketing .description h2 {
        margin-top: -5px;
    }
    .social {
        padding-right: 10px;
    }
    .main-product .description {
        width: 88%;
    }
    .Working .box {
        width: 90%;
    }
    .logo img {
        max-width: 57%;
    }
    body {
        padding-top: 48px;
    }
    .event-detail .news-events .mt-5 {
        margin-top: 0px !important;
    }
    .main-product .description.straight-tube {
        margin-left: 0;
        width: 100%;
    }
    .marketing .box,
    .main-product .group,
    #myCarousel {
        min-height: auto;
    }
    .production-bg .production-box {
        padding: 15px 0px 0px 0px;
    }
    .production-bg .production-box h2 {
        color: #fff;
        font-weight: bold;
        width: 100%;
        text-align: center;
        margin-top: 33px;
        padding-bottom: 115px;
    }
}
