/*@font-face {
    font-family: mhnfont1;
    src: url(MavenPro-Regular.woff);
}
@font-face {
    font-family: mohanokor;
    src: url(../../fonts/KhmerOSContent.ttf);
}

@font-face {
    font-family: exchangerate;
    src: url(../../fonts/Moul.ttf);
}

@font-face {
    font-family: moullight;
    src: url(../../fonts/KhmerOSMoul.ttf);
}

@font-face {
    font-family: contents;
    src: url(../../fonts/KhmerOSContent.ttf);
}

@font-face {
    font-family: names;
    src: url(../../fonts/Dangrek.ttf);
}

@font-face {
    font-family: edu_exp;
    src: url(../../fonts/Taprom.ttf);
}

@font-face {
    font-family: jobs;
	font-weight:normal;
    src: url(../../fonts/Preahvihear.ttf);
}*/

/*
Title: Creating an HTML5 enhanced responsive-ready contact form, with custom javascript feature detection
Tutorial on: http://www.onextrapixel.com
Author: http://www.toddmotto.com
*/

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/*body {
	font:400 12px/1.625 "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#444;
	background:url(../../images/others/job_back_pattern.jpg);
	/*background:#2f2fa2;
	background-image:linear-gradient(left , #153576 0%, #1d3499 52%, #153576 100%);
	background-image:-moz-linear-gradient(left , #153576 0%, #1d3499 52%, #153576 100%);
	background-image:-webkit-linear-gradient(left , #153576 0%, #1d3499 52%, #153576 100%);*/
/*}*/
/*.wrapper {
	max-width:500px;
	width:95%;
	margin:0 auto;
	position:relative;
}*/
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form select,
#contact-form textarea,
#contact-form button[type="submit"] {
	font:400 14px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#contact-form {
	text-shadow:0 1px 0 #FFF;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	box-shadow: 0px 2px 10px 4px rgba(138, 138, 138, 0.31);
-moz-box-shadow: 0px 2px 10px 4px rgba(138, 138, 138, 0.31);
-webkit-box-shadow: 0px 2px 10px 4px rgba(138, 138, 138, 0.31);
	background:#FFF;/*#F9F9F9;*/
	padding:25px;
}
#contact-form h3 {
	color:#039;
	display:block;
	font-size:28px;
}
#contact-form h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}
#contact-form label span {
	cursor:pointer;
	color:#F90;
	display:block;
	margin:5px 0;
	font-weight:900;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form select,
#contact-form textarea {
	width:100%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form select:hover,
#contact-form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#contact-form textarea {
	height:100px;
	max-width:100%;
}
#contact-form button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0000d9;
	/*
	background-image:linear-gradient(bottom, #0da7ff 0%, #0000d9 52%);
	background-image:-moz-linear-gradient(bottom, #0da7ff 0%, #0000d9 52%);
	background-image:-webkit-linear-gradient(bottom, #0da7ff 0%, #0000d9 52%);*/
	
	background-image:linear-gradient(bottom, #ff627e 0%, #ae223b 52%);
	background-image:-moz-linear-gradient(bottom, #ff627e 0%, #ae223b 52%);
	background-image:-webkit-linear-gradient(bottom, #ff627e 0%, #ae223b 52%);


	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form button[type="submit"]:hover {
	/*
background-image:linear-gradient(bottom, #59c2ff 0%, #006ce5 52%);
	background-image:-moz-linear-gradient(bottom, #59c2ff 0%, #006ce5 52%);
	background-image:-webkit-linear-gradient(bottom, #59c2ff 0%, #006ce5 52%); */
	
	background-image:linear-gradient(bottom, #e53454 0%, #881126 52%);
	background-image:-moz-linear-gradient(bottom, #e53454 0%, #881126 52%);
	background-image:-webkit-linear-gradient(bottom, #e53454 0%, #881126 52%);
	
	
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
#contact-form input:focus,
#contact-form textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}