@charset "UTF-8";
/*
@font-face {
    font-family: mhnfont1;
    src: url(MavenPro-Regular.woff);
}
@font-face {
    font-family: mohanokor;
    src: url(../fonts/KhmerOSContent.ttf);
}

@font-face {
    font-family: exchangerate;
    src: url(../fonts/Moul.ttf);
}

@font-face {
    font-family: moullight;
    src: url(../fonts/KhmerOSMoul.ttf);
}

@font-face {
    font-family: contents;
    src: url(../fonts/KhmerOSContent.ttf);
}

@font-face {
    font-family: names;
    src: url(../fonts/Dangrek.ttf);
}

@font-face {
    font-family: edu_exp;
    src: url(../fonts/Taprom.ttf);
}

@font-face {
    font-family: jobs;
	font-weight:normal;
    src: url(../fonts/Preahvihear.ttf);
}
/* 
Footer Khmer
*/


/*nav*/
.nav > li > a {
	color: #ffffff;
}

.nav > li > a:hover,
.nav > li > a:focus {
	background-color: inherit;
}




/* dropdown menu */
.dropdown-menu {
	box-shadow: none;
	border-radius: 0;
	border: none;
	border-bottom: 3px solid #fcca03;
	z-index: 1001;
	font-size: 16px;
	margin-top: 0;
}

[class*="right"] .dropdown-menu {
	right: 0;
	left: auto;
}

@media (min-width: 1600px) {
	[class*="right"] .dropdown-menu {
		right: auto;
		left: 0;
	}
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
	color: #333333;
	background-color: transparent;
}


@media (max-width: 767px) {
	.container {
		max-width: 500px;
	}
}

/*
**general styles
*/
html {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: visible;
}

::-moz-selection {
	color: #ffffff;
	background-color: #fcca03;
}

::selection {
	color: #ffffff;
	background-color: #fcca03;
}

::-moz-selection {
	color: #ffffff;
	background-color: #fcca03;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
	background-color: #ffffff;
	overflow: visible;
	overflow-x: hidden;
}



/*
**styled lists
*/
ul, ol {
	padding-left: 30px;
}

ul.list1 {
	list-style: none;
	padding: 0;
	margin: 25px 0;
}

ul.list1 li {
	position: relative;
	padding: 9px 0 10px 30px;
}

ul.list1 li > .media {
	margin: 3px 0 3px;
}

ul.list1.no-bullets li {
	padding-left: 0;
}

ul.list1.no-bullets li:before {
	display: none;
}

ul.list1 li:first-child {
	border-top: 1px solid rgba(51, 51, 51, 0.1);
}

ul.list1 li {
	border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.muted_background ul.list1 li {
	border-color: rgba(255, 255, 255, 0.4);
}

ul.list1 li:before {
	content: '';
	display: block;
	position: absolute;
	border: 1px solid #fcca03;
	left: 10px;
	top: 17px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
}

ul.list2 {
	list-style: none;
	padding-left: 20px;
	margin-bottom: 20px;
}

ul.list2 li {
	position: relative;
	color: #8c8c8c;
	padding: 3px 0 3px 0px;
}

ul.list2 li:before {
	content: "";
	width: 5px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
	left: -18px;
	top: 13px;
	background-color: #fcca03;
}

ol.list3 {
	padding-left: 15px;
}

ol.list3 li {
	padding: 3px 0 3px 0px;
}

ol.list3 li > * {
	color: #8c8c8c;
}

table {
	width: 100%;
	max-width: 100%;
	margin: 10px 0;
}

table td, table th {
	padding: 3px 0;
}

.table_template thead {
	background-color: #fcca03;
	color: #333333;
}

.table_template thead.light {
	background-color: #ffffff;
}

.table_template td, .table_template th {
	padding: 18px 30px;
}

.table_template tbody tr:nth-of-type(odd) {
	background-color: rgba(238, 238, 238, 0.1);
}

.table_template tbody tr:nth-of-type(even) {
	background-color: rgba(17, 17, 17, 0.05);
}






/*
animated elements
*/
.to_animate {
	visibility: hidden;
}

.lt-ie10 .to_animate,
.lt-ie9 .to_animate {
	visibility: visible;
}

.animated {
  /*IE7 fix*/
	visibility: visible !important;
}



/**color section*/
.cs.main_color2 {
	background-color: #e23751;
}

.cs.main_color2 .highlight {
	color: #fcca03;
}

.cs {
/*	background-color: #a51821;*/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c14a3a+0,a31d12+100 */
background: #6f1011; /* Old browsers */
/*background: -moz-linear-gradient(top,  #c14a3a 0%, #a31d12 100%); /* FF3.6-15 */
/*background: -webkit-linear-gradient(top,  #c14a3a 0%,#a31d12 100%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to bottom,  #c14a3a 0%,#a31d12 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c14a3a', endColorstr='#a31d12',GradientType=0 ); /* IE6-9 */

	color: rgba(255, 255, 255, 0.8);
	
}

.cs h1,
.cs h2,
.cs h3,
.cs h4,
.cs h5,
.cs h6 {
	color: #ffffff;
}

.cs h1 a,
.cs h2 a,
.cs h3 a,
.cs h4 a,
.cs h5 a,
.cs h6 a {
	color: #ffffff;
}

.cs h1 a:hover,
.cs h2 a:hover,
.cs h3 a:hover,
.cs h4 a:hover,
.cs h5 a:hover,
.cs h6 a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.cs a {
	color: #ffffff;
}

.cs a:hover {
	color: #feea9a;
}

.cs blockquote, .cs .blockquote {
	border-color: #fdd535;
}

.cs .theme_buttons a.color1,
.cs .theme_button.color1 {
	background-color: #ffffff;
	color: #fcca03;
}

.cs .theme_buttons a.color1:hover,
.cs .theme_button.color1:hover {
	color: #fcca03;
	background-color: #333333;
}

.cs .theme_buttons a.color2:hover,
.cs .theme_button.color2:hover {
	color: #e23751;
}

.cs .theme_buttons a:hover, .cs .theme_buttons a:focus,
.cs .theme_button:hover,
.cs .theme_button:focus {
	color: #333333;
}

.cs .theme_buttons.inverse a:hover, .cs .theme_buttons.inverse a:focus,
.cs .theme_button.inverse:hover,
.cs .theme_button.inverse:focus {
	color: #ffffff;
}

section .cs .theme_buttons a,
section .cs .theme_button {
	color: #333333;
	background-color: #ffffff;
	border-color: #ffffff;
}

section .cs .theme_buttons a:hover,
section .cs .theme_button:hover {
	background-color: #333333;
	border-color: #333333;
	color: #ffffff;
}

.cs .with_background {
	background-color: rgba(255, 255, 255, 0.2);
}

.cs .with_border {
	border-color: rgba(255, 255, 255, 0.2);
}

.cs.with_top_border .container:before,
.cs.with_bottom_border .container:after {
	background-color: #fdd535;
}

.cs .section_header:before {
	background-color: #fdd535;
}

.cs .greylinks a {
	color: #ffffff;
	opacity: 0.7;
}

.cs .greylinks a:hover {
	opacity: 1;
	color: #ffffff;
}

.cs .black {
	border-color: #ffffff;
	color: #ffffff;
}

.cs .grey {
	border-color: #333333;
	color: #333333;
}

.cs .response,
.cs .highlight {
	color: #ffffff;
}

.cs ul.list1 li {
	border-color: rgba(255, 255, 255, 0.2);
}

.cs [class*='soc-'] {
	color: #ffffff;
	border-color: #ffffff;
}

.cs .color-icon.bg-icon {
	background-color: #ffffff;
}

.cs a.social-icon.color-bg-icon:hover {
	background-color: #333333;
}

.cs input[type="text"],
.cs input[type="email"],
.cs input[type="url"],
.cs input[type="password"],
.cs input[type="search"],
.cs input[type="tel"],
.cs textarea,
.cs select,
.cs .form-control {
	color: #ffffff;
}

.cs .form-control:-moz-placeholder {
	color: rgba(255, 255, 255, 0.7);
	opacity: 1;
}

.cs .form-control::-moz-placeholder {
	color: rgba(255, 255, 255, 0.7);
	opacity: 1;
}

.cs .form-control:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.7);
}

.cs .form-control::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.7);
}

.cs .form-control:focus:-moz-placeholder {
	color: transparent;
}

.cs .form-control:focus::-moz-placeholder {
	color: transparent;
}

.cs .form-control:focus:-ms-input-placeholder {
	color: transparent;
}

.cs .form-control:focus::-webkit-input-placeholder {
	color: transparent;
}

.cs .ls input[type="text"],
.cs .ls input[type="email"],
.cs .ls input[type="url"],
.cs .ls input[type="password"],
.cs .ls input[type="search"],
.cs .ls input[type="tel"],
.cs .ls textarea,
.cs .ls select,
.cs .ls .form-control {
	color: #333333;
}

.cs .ls .form-control:-moz-placeholder {
	color: #a4a4a4;
	opacity: 1;
}

.cs .ls .form-control::-moz-placeholder {
	color: #a4a4a4;
	opacity: 1;
}

.cs .ls .form-control:-ms-input-placeholder {
	color: #a4a4a4;
}

.cs .ls .form-control::-webkit-input-placeholder {
	color: #a4a4a4;
}

.cs .ls .form-control:focus:-moz-placeholder {
	color: transparent;
}

.cs .ls .form-control:focus::-moz-placeholder {
	color: transparent;
}

.cs .ls .form-control:focus:-ms-input-placeholder {
	color: transparent;
}

.cs .ls .form-control:focus::-webkit-input-placeholder {
	color: transparent;
}

.cs .pagination > li > a,
.cs .pagination > li > span {
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
}

.cs .pagination > li.active > a,
.cs .pagination > li.active > span,
.cs .pagination > li > a:hover,
.cs .pagination > li > span:hover,
.cs .pagination > li > a:focus,
.cs .pagination > li > span:focus {
	background-color: #ffffff;
	color: #333333;
}

.cs .widget_recent_entries li + li,
.cs .widget_recent_comments li + li,
.cs .widget_archive li + li,
.cs .widget_categories li + li,
.cs .widget_meta li + li,
.cs .widget_popular_entries li + li,
.cs .widget_nav_menu li + li,
.cs .widget_pages li + li {
	border-top-color: rgba(255, 255, 255, 0.2);
}

.cs .breadcrumb li {
	color: #ffffff;
}

.cs .breadcrumb li a {
	color: #ffffff;
}

.cs .breadcrumb li a:hover {
	color: #a4a4a4;
}

/*
**template styles
*/
.page_topline {
	position: relative;
	z-index: 1001;
}

.page_topline .container {
	padding-top: 8px;
	padding-bottom: 8px;
}

@media (min-width: 768px) {
	.page_topline [class*="col-"] > span {
		padding-left: 33px;
	}

	.page_topline [class*="col-"] > span:first-child {
		padding-left: 0;
	}
}

@media (max-width: 767px) {
	.page_topline [class*="col-"] > span {
		display: block;
	}
}

.page_topline i {
	display: inline-block;
	margin-top: -1px;
	padding-right: 5px;
	vertical-align: middle;
}

.page_topline .page_social_icons {
	margin-left: 15px;
}

.page_topline .page_social_icons a:before {
	font-size: 12px;
}

.page_toplogo .teaser {
	vertical-align: middle;
}

.page_toplogo .teaser p:first-child {
	margin-top: -1px;
}

.page_toplogo .teaser p:last-child {
	margin-bottom: -2px;
}

.location-teaser {
	margin-left: 55px;
	margin-top: 0;
}

.location-teaser span {
	color: #ffffff;
}

.location-teaser:hover .teaser_icon.highlight {
	color: #333333;
	background-color: #fcca03;
}

.location-teaser:hover span {
	color: #ffffff;
}

.header_white {
	color: #a4a4a4;
	background-color: #ffffff;
}

.header_white.affix {
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

.header_darkgrey {
	background-color: #333333;
}

.header_darkgrey a[class*='soc-'] {
	color: #ffffff;
}

@media (max-width: 992px) {
	.page_header_wrapper .col-sm-12 {
		min-height: 0;
	}
}

a.logo {
	display: inline-block;
	word-break: break-word;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
	padding: 15px 0;
}

a.logo img + .logo_text {
	padding: 0 15px;
}

.home a.logo img,
footer a.logo img {
	max-width: 100%;
}

@media (max-width: 991px) {
	a.logo.logo_image {
		max-width: 120px;
	}
}

a.logo.bottom_logo {
	padding: 0;
	font-size: 28px;
}

a.logo.bottom_logo img {
	max-width: 100px;
}

.floating_logo a.logo {
	float: left;
	margin-right: 30px;
}

a.logo.vertical_logo {
	padding: 0;
}

a.logo.vertical_logo img {
	margin: 0 0 10px;
}

.logo-meta {
	line-height: 1.2;
	display: inline-block;
	padding: 20px 0;
}

@media (max-width: 1400px) {
	.logo + .logo-meta {
		display: none;
	}
}

.logo-meta strong {
	font-size: 20px;
}

.boxed .page_header .logo-meta {
	display: none;
}

.lt-ie9 .page_header_wrapper {
	height: auto !important;
}

.lt-ie9 .page_header_wrapper .md-hidden {
	display: inline-block;
}

.page_header {
	-webkit-transition: background 0.2s ease-in-out 0s;
	transition: background 0.2s ease-in-out 0s;
	top: 0px;
	left: 0;
	right: 0;
	position: relative;
	z-index: 1000;
}

.page_header.mobile-active {
	z-index: 1002;
}

.page_header.affix {
	position: fixed;
}

.page_header.affix-bottom {
	top: 0 !important;
	position: fixed;
}

.page_header .header-button {
	display: inline-block;
	font-size: 18px;
	color: #1e1e1e;
	padding: 0 10px;
	line-height: 60px;
	height: 60px;
	cursor: pointer;
}

@media (min-width: 1400px) {
	.page_header .header-button {
		line-height: 80px;
		height: 80px;
		padding: 0 22px;
	}
}

.page_header .header-button:hover {
	color: #333333;
}

.page_header .social-icon:last-child {
	margin-right: 20px;
}

.page_header .widget_search {
	margin: 5px 0;
	display: inline-block;
	width: 87%;
	max-width: 570px;
}

@media (min-width: 1400px) {
	.page_header .widget_search {
		margin: 15px 0;
	}
}

.page_header .widget_search input {
	height: 50px;
	background-color: transparent;
	border-color: rgba(51, 51, 51, 0.5);
	color: #333333;
}

.page_header .widget_search .form-control:-moz-placeholder {
	color: #333333;
}

.page_header .widget_search .form-control::-moz-placeholder {
	color: #333333;
}

.page_header .widget_search .form-control:-ms-input-placeholder {
	color: #333333;
}

.page_header .widget_search .form-control::-webkit-input-placeholder {
	color: #333333;
}

.page_header .widget_search .form-control:focus:-moz-placeholder {
	color: transparent;
}

.page_header .widget_search .form-control:focus::-moz-placeholder {
	color: transparent;
}

.page_header .widget_search .form-control:focus:-ms-input-placeholder {
	color: transparent;
}

.page_header .widget_search .form-control:focus::-webkit-input-placeholder {
	color: transparent;
}

.page_header .widget_search + .search_form_close {
	float: right;
	margin-top: 21px;
	font-size: 18px;
	margin-left: 26px;
	color: #333333;
	cursor: pointer;
}

@media (max-width: 400px) {
	.page_header .widget_search + .search_form_close {
		margin-left: 15px;
	}
}

@media (min-width: 1400px) {
	.page_header .widget_search + .search_form_close {
		margin-top: 31px;
	}
}

.page_header.theme_header {
	/*margin-bottom: -80px;
	height: 47px;*/
	margin-bottom: -73px;
	height: 40px;
}

@media (min-width: 992px) {
	.page_header.theme_header .row {
		margin-right: -30px;
		margin-left: -35px;
	}
}

@media (min-width: 1400px) {
	.page_header.theme_header .row {
		margin-right: -30px;
		margin-left: -40px;
	}
}

@media (min-width: 1400px) {
	.page_header.theme_header {
		height: 80px;
	}
}

.page_header.theme_header .row {
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.page_header .searchrow {
	opacity: 0;
	height: 0;
	overflow: hidden;
}

.page_header .searchrow > div {
	line-height: 0;
}

.page_header .searchrow > div * {
	line-height: 1;
}

.page_header.search-active .mainrow {
	margin-top: -60px;
	opacity: 0;
}

@media (min-width: 1400px) {
	.page_header.search-active .mainrow {
		margin-top: -80px;
	}
}

.page_header.search-active .searchrow {
	opacity: 1;
	height: auto;
}

/* modal search */
.modal-open .page_header_wrapper,
.modal-open .page_header.affix {
	right: 16px;
}

#search_modal {
	color: #fff;
}

#search_modal a {
	color: #ffffff;
	opacity: 0.6;
	font-size: 12px;
	text-transform: uppercase;
}

#search_modal a:hover {
	color: #fcca03;
	opacity: 1;
}

#search_modal .searchform-respond {
	width: 300px;
	margin: 20px auto;
}

#search_modal .form-control {
	border: none;
	background-color: transparent;
	height: 60px;
	color: #ffffff;
}

#search_modal .theme_button {
	padding: 18px;
}

#search_modal .form-control:-moz-placeholder {
	color: rgba(255, 255, 255, 0.8);
	opacity: 1;
}

#search_modal .form-control::-moz-placeholder {
	color: rgba(255, 255, 255, 0.8);
	opacity: 1;
}

#search_modal .form-control:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.8);
}

#search_modal .form-control::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.8);
}

.page_mainslider .flex-custom-nav {
	opacity: 0;
}

.page_breadcrumbs {
  /* styles for breadcrumbs style 3 */
  /* styles for breadcrumbs style 4 */
}

.page_breadcrumbs [class*="col-"] {
	margin-top: 25px;
	margin-bottom: 25px;
}

@media (max-width: 991px) {
	.page_breadcrumbs.section_padding_65 > .container {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.page_breadcrumbs.parallax.ds:before {
	background-color: #333333;
	opacity: 0.9;
}

.page_breadcrumbs .breadcrumbs_logo {
	margin-bottom: -17px;
}

.page_breadcrumbs .breadcrumbs_logo img {
	opacity: 0.2;
}

.page_breadcrumbs h1 {
	margin-top: 1px;
	margin-bottom: 0;
	display: inline-block;
	font-size: 30px;
	text-transform: uppercase;
	word-wrap: break-word;
}

.page_breadcrumbs h1.cornered-heading:before, .page_breadcrumbs h1.cornered-heading:after {
	width: 30px;
	height: 30px;
}

@media screen and (min-width: 992px) {
	.page_breadcrumbs .display_table_md {
		width: auto;
		min-width: 0;
	}

	.page_breadcrumbs h1.display_table_cell_md {
		padding-right: 20px;
	}

	.page_breadcrumbs .breadcrumb.display_table_cell_md {
		border-left: 1px solid rgba(255, 255, 255, 0.2);
		padding-left: 25px;
	}
}

.page_breadcrumbs .bottom_breadcrumbs {
	text-align: center;
	float: right;
	padding: 0 20px;
	margin: 0 0 -26px 0;
	background-color: rgba(30, 30, 30, 0.035);
}

.owl-carousel.projects-carousel {
	z-index: 6;
}

@media (min-width: 992px) {
	.owl-carousel.projects-carousel {
		width: 130%;
	}
}

.projects-content {
	padding: 0;
	border: none;
	background-color: transparent;
}

.projects-content .item-media img {
	margin: 0 -16.6666666666%;
	max-width: 150%;
}

@media (max-width: 991px) {
	.projects-content {
		margin-top: 40px;
	}
}

/* Features teasers */
@media (max-width: 991px) {
	.features-teaser.topmargin_50 {
		margin-top: 50px;
	}
}

.features-teaser.teaser:hover .teaser_icon {
	-webkit-animation: none;
	animation: none;
	color: #fcca03;
	background-color: #ffffff;
	box-shadow: 0 4px 16px 0 rgba(51, 51, 51, 0.1);
}

/* Counters */
.counters_section {
	font-size: 0;
}

.counters_section.ds {
	background-image: url("../img/pattern1_dark.jpg");
}

.counters_section.ls {
	background-image: url("../img/pattern1_light.jpg");
}

.info-teaser {
	font-size: 14px;
}

.info-teaser + .info-teaser {
	border-top: 1px solid rgba(51, 51, 51, 0.1);
}

@media (min-width: 768px) {
	.info-teaser {
		display: inline-block;
		width: 33.33333333%;
	}

	.info-teaser + .info-teaser {
		border-top: none;
		border-left: 1px solid rgba(51, 51, 51, 0.1);
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.info-teaser:nth-child(4) {
		border-left: none;
	}
}

@media (min-width: 992px) {
	.info-teaser {
		width: 20%;
	}
}

/* Services */
.services {
	background-image: url("../images/services.jpg");
	background-position: right top;
	background-size: cover;
}

@media (max-width: 400px) {
	.service-teasers-row > div {
		float: none;
		display: block;
		width: 195px;
		margin-left: auto;
		margin-right: auto;
	}
}

.section_subscribe .form-control {
	width: 350px;
	max-width: 100%;
	display: inline-block;
}

.section_subscribe.parallax {
	background-image: url("../images/parallax/progress.jpg");
}

.page_breadcrumbs.parallax {
	background-image: url(../images/parallax/breadcrumbs.jpg);
}

.page_testimonials.parallax {
	overflow: hidden;
	background-image: url("../images/parallax/testimonials.jpg");
}

.page_testimonials .flexslider .container {
	padding: 0;
}

@media (min-width: 992px) {
	.page_testimonials .flexslider {
		padding: 0 80px;
	}
}

@media (max-width: 991px) {
	.page_testimonials .flex-control-nav {
		bottom: -30px;
	}
}

.page_footer .page_social_icons a:before {
	font-size: 14px;
}

.page_footer .page_social_icons a.social-icon + a.social-icon {
	margin-left: 22px;
}

.page_footer.theme_footer,
.page_footer.theme_footer + .page_copyright {
	background-color: #020202;
}

.page_footer.theme_footer:before,
.page_footer.theme_footer + .page_copyright:before {
	display: none;
}

.page_footer .media-left i {
	display: inline-block;
	width: 14px;
}

.page_footer .media + .media {
	margin-top: 11px;
}

.page_footer.theme_footer + .page_copyright .container {
	position: relative;
}

.page_footer.theme_footer + .page_copyright .container:before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	right: 0;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.2);
}

.page_copyright p {
	margin: 0;
}

.page_copyright.table_section .bottom_logo img {
	margin-bottom: 0;
}

.page_contact.parallax {
	background-image: url(../images/parallax/map.jpg);
}

.page_copyright.parallax,
.page_footer.parallax {
	background-image: url("../images/parallax/pattern.png");
}

.ds.ms + .page_footer.ds.ms {
	background-color: #191919;
}

#featured {
	background-image: url(../images/parallax/featured.jpg);
}

#map, .page_map {
	height: 500px;
}

#map img, .page_map img {
	max-width: inherit;
}

#map p, .page_map p {
	line-height: 1.3;
	margin-bottom: 0;
}

#map .map_marker_description, .page_map .map_marker_description {
	padding: 10px 5px 5px;
}

#map .map_marker_icon, .page_map .map_marker_icon {
	display: none;
}

section .intro_section .slide_description_wrapper {
	padding-left: 60px;
	padding-right: 60px;
	right: 30px;
}

@media (max-width: 600px) {
	section .intro_section .slide_description_wrapper {
		padding-left: 5px;
		padding-right: 5px;
	}
}

.muted_background .pagination {
	margin: 40px 40px 20px;
}

/** 
* intro_section styles
*/
/* flexslider */
.intro_section {
	position: relative;
	overflow: hidden;
	clear: both;
}

.intro_section > img {
	width: 100%;
}

.intro_section img {
	opacity: 0.4;
}

.intro_section .flexslider:before, .intro_section .flexslider:after {
	content: '';
	display: block;
	clear: both;
}

.intro_section .container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.intro_section .container.nav-container {
	width: 100%;
}

.intro_section [class*="col-"] {
	position: static;
}

.intro_section .slide_description_wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	font-size: 0;
	z-index: 5;
	padding: 0 80px;
}

.intro_section .slide_description_wrapper .slide_description {
	font-size: 14px;
}

.intro_section .slide_description_wrapper:before,
.intro_section .slide_description {
	display: inline-block;
	vertical-align: middle;
}

.intro_section .slide_description_wrapper:before {
	content: '';
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}

.intro_section .big {
	font-size: 40px;
}

.intro_section .fontsize_16 {
	line-height: 30px;
}

.intro_section .top-corner {
	max-width: 120px;
}

.intro_section .top-corner div {
	margin-top: -3px;
	text-transform: uppercase;
	padding: 20px;
}

@media (min-width: 1200px) {
	.intro_section .big {
		font-size: 60px;
	}
}

@media (max-width: 992px) {
	.intro_section {
		text-align: center;
	}

	.intro_section .nav-container {
		padding: 0;
	}

	.intro_section .flex-control-nav,
  .intro_section .flex-custom-nav {
		bottom: 40px;
		text-align: center;
	}

	.intro_section .container {
		position: static;
		width: auto;
		max-width: 100%;
	}

	.intro_section .slide_description_wrapper:before {
		display: none;
	}

	.intro_section .slide_description {
		padding: 30px 0;
		display: block;
	}

	.intro_section li .slide_description {
		padding: 30px 0 90px;
	}

	.intro_section .slide_description_wrapper {
		padding: 0;
		position: static;
	}

	.intro_section .flex-direction-nav .flex-prev {
		top: 14%;
	}

	.intro_section .flex-direction-nav .flex-next {
		top: 14%;
	}
}

/*
**main menu (min 992px) styles
*/
.sf-menu > li > a {
	text-transform: uppercase;
	font-weight: 700;
}

.sf-menu ul a {
	font-family: contents;
	font-size: 14px;
	font-weight: 600;
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

@media (min-width: 992px) {
  /* menu layout */
	.sf-menu, .sf-menu ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.sf-menu li {
		position: relative;
	}

	.sf-menu li > ul {
		position: absolute;
		display: none;
		top: 100%;
		z-index: 101;
	}

	.sf-menu li:hover > ul,
  .sf-menu li.sfHover > ul {
		display: block;
	}

	.sf-menu a {
		display: block;
		position: relative;
	}

	.sf-menu li > ul > li > ul {
		top: -10px;
		left: 100%;
	}
  /* menu skin */
	.sf-menu a {
		/*padding-top: 14px;
		padding-bottom: 13px;*/
		padding-top: 8px;
		padding-bottom: 7px;
		text-decoration: none;
		zoom: 1;
    /* IE7 */
		-webkit-transition-property: color, background-color, border-color;
		transition-property: color, background-color, border-color;
	}

	.sf-menu li {
		white-space: nowrap;
    /* no need for Supersubs plugin */
		*white-space: normal;
    /* ...unless you support IE7 (let it wrap) */
		-webkit-transition: background .2s;
		transition: background .2s;
	}

	.sf-menu > li {
		display: inline-block;
		position: relative;
		margin: 0 -2px;
	}

	.sf-menu > li > a {
		position: relative;
		padding-top: 9px;
		padding-bottom: 6px;
		/*padding-top: 13px;
		padding-bottom: 10px; 
		 padding-top: 18px;
		padding-bottom: 18px;*/
	}
}

@media (min-width: 992px) and (min-width: 1400px) {
	.sf-menu > li > a {
		padding-top: 28px;
		padding-bottom: 28px;
	}
}

@media (min-width: 992px) {
	.sf-menu > li > a:before, .sf-menu > li > a:after {
		content: "";
		position: absolute;
		top: 13px;
		left: 10px;
		width: 80px;
		height: 80px;
		border: 1px solid #FC0;
		border-width: 1px 0 0 1px;
		opacity: 0;
		-webkit-transition: all 0.2s ease-in-out 0s;
		transition: all 0.2s ease-in-out 0s;
	}
}

@media (min-width: 992px) and (min-width: 1400px) {
	.sf-menu > li > a:before, .sf-menu > li > a:after {
		top: 23px;
	}
}

@media (min-width: 992px) {
	.sf-menu > li > a:after {
		top: auto;
		left: auto;
		bottom: 13px;
		right: 10px;
		border-width: 0 1px 1px 0;
	}
}

@media (min-width: 992px) and (min-width: 1400px) {
	.sf-menu > li > a:after {
		bottom: 23px;
	}
}

@media (min-width: 992px) {
	.sf-menu > li > a:hover:before, .sf-menu > li > a:hover:after {
		width: 20px;
		height: 20px;
		opacity: 1;
	}

	.theme_header .sf-menu > li > a:hover, .theme_header
  .sf-menu > li.active > a {
		color:#FC0;
	}

	.sf-menu ul .sfHover > a {
		padding-left: 60px;
		padding-right: 60px;
	}

	.sf-menu ul .sfHover > a:before {
		left: 30px;
		opacity: 1;
	}

	.bordered_items .sf-menu {
		text-align: center;
	}

	.bordered_items .sf-menu > li {
		padding: 0;
	}

	.bordered_items .sf-menu > li + li:before {
		content: '';
		width: 1px;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(255, 255, 255, 0.2);
	}

	.header_white .sf-menu > li > a {
		color: #333333;
	}

	.header_white .sf-menu > li > a:hover,
  .header_white .sf-menu > li.active > a {
		color: #fcca03;
	}

	.header_white .sf-menu > li + li:before {
		background-color: #f5f5f5;
	}

	.header_darkgrey .sf-menu > li > a {
		color: #ffffff;
	}

	.header_darkgrey .sf-menu > li > a:hover,
  .header_darkgrey .sf-menu > li.active > a {
		color: #fcca03;
	}

	.header_gradient .sf-menu > li > a {
		color: #ffffff;
	}

	.header_gradient .sf-menu > li > a:hover,
  .header_gradient .sf-menu > li.active > a {
		color: #333333;
	}

	.sf-menu li:hover,
  .sf-menu li.sfHover {
    /* only transition out, not in */
		-webkit-transition: none;
		transition: none;
	}
  /* second and next levels */
	.sf-menu > li .mega-menu,
  .sf-menu li > ul {
		text-align: left;
		list-style: none;
		padding: 10px 0;
		background-color: #811315;
		/*background-color: #a51821;*/
		
		min-width: 12em;
    /* allow long menu items to determine submenu width */
		*width: 12em;
    /* no auto sub width for IE7, see white-space comment below xxxxxxxxxxxxx*/
		border-bottom: 1px solid #a51821;
	}

	.sf-menu > li .mega-menu ul,
  .sf-menu li > ul ul {
		box-shadow: 20px 0 16px -20px rgba(0, 0, 0, 0.05) inset;
	}

	.sf-menu ul a {
		color: #ffffff;
		padding-left: 30px;
		padding-right: 90px;
	}

	.sf-menu ul a:before {
		position: absolute;
		left: -20px;
		font-family: "Flaticon";
		content: "\f102";
		opacity: 0;
		
		-webkit-transition: all 0.2s ease-in-out 0s;
		transition: all 0.2s ease-in-out 0s;
	}

	.sf-menu .mega-menu ul {
		box-shadow: none;
		padding: 0;
	}

	.sf-menu .mega-menu ul a {
		padding-left: 0;
		padding-right: 0;
	}

	.sf-menu ul a:hover,
  .sf-menu ul li.active > a {
		color: #fcca03;
		background-color: #f5f5f5;
	}
  /* third level */
	.sf-menu ul ul {
		margin-top: 0;
	}
  /*** arrows (for all except IE7) **/
	.sf-arrows .sf-with-ul {
		position: relative;
	}
  /* styling for both css and generated arrows */
	.sf-arrows .sf-with-ul:after {
		font-family: 'rt-icons-2';
		content: "\e7c5";
		padding-left: 7px;
	}

	.sf-arrows > li > .sf-with-ul:after {
		content: "";
		padding: 0;
	}
  /*top menu level*/
  /* styling for right-facing arrows */
	.sf-arrows ul .sf-with-ul:after {
		content: "\e7c5";
		font-size: 12px;
		position: absolute;
		right: 30px;
		color: #333333;
		opacity: 0.6;
	}

	.sf-arrows ul .sf-with-ul:hover:after {
		opacity: 1;
	}
}

/* common paddings */
@media (min-width: 992px) {
	.sf-menu > li > a {
		padding-left: 2px;
		padding-right: 0px;
	}

	.bordered_items .sf-menu > li > a {
		padding-right: 40px;
		padding-left: 44px;
	}
}

/* -md- paddings */
@media (min-width: 992px) and (max-width: 1199px) {
	.bordered_items .sf-menu > li > a {
		padding-right: 20px;
		padding-left: 24px;
	}

	.sf-menu > li > a {
		padding-right: 20px;
		padding-left: 20px;
	}
}

/* -lg- paddings */
@media (min-width: 1200px) {
	.boxed .col-md-6 .sf-menu > li > a {
		padding-left: 14px;
		padding-right: 14px;
	}

	.sf-menu > li > a {
		padding-left: 23px;
		padding-right: 23px;
	}
}

@media (min-width: 1400px) {
	.sf-menu > li > a {
		padding-right: 30px;
		padding-left: 29px;
	}
}

.toggle_menu {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -30px;
	display: none;
	width: 60px;
	height: 60px;
	cursor: pointer;
	z-index: 1001;
	visibility: visible;
}

.header_white .toggle_menu span,
.header_white .toggle_menu span:before,
.header_white .toggle_menu span:after,
.theme_header .toggle_menu span,
.theme_header .toggle_menu span:before,
.theme_header .toggle_menu span:after {
	background-color: #fff;
}

.page_toplogo .toggle_menu {
	position: fixed;
	top: 0;
	left: auto;
	right: 0;
	background-color: #333333;
	margin: 0;
}

.theme_header .toggle_menu {
	left: 0;
	margin: 0;
}

.toggle_menu:hover span:before {
	top: -7px;
}

.toggle_menu:hover span:after {
	top: 7px;
}

.toggle_menu span,
.toggle_menu span:before,
.toggle_menu span:after {
	display: block;
	width: 24px;
	height: 2px;
	position: absolute;
	background-color: #ffffff;
	content: '';
	left: 0;
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.toggle_menu span {
	left: 18px;
	top: 40%;
	margin-top: -1px;
}

.toggle_menu span:before {
	top: -6px;
}

.toggle_menu span:after {
	top: 6px;
}

/*
**main menu mobile styles
*/
@media (max-width: 991px) {
	.mainmenu_wrapper {
    /*position: relative;*/
		position: fixed;
		visibility: hidden;
		z-index: 10;
		top: 0;
		left: 0;
		bottom: -10px;
		right: 0;
		background-color: transparent;
		opacity: 0;
		-webkit-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}

	.mobile-active .mainmenu_wrapper {
		visibility: visible;
		opacity: 1;
		background-color: #111;
		background-color: rgba(0, 0, 0, 0.9);
	}

	.toggle_menu {
		display: block;
	}

	.toggle_menu.mobile-active {
		background-color: #333333;
		border: none;
		left: auto;
		top: 0;
		right: 0;
		position: fixed;
		margin: 0;
		z-index: 3000;
	}

	.toggle_menu.mobile-active:after {
		position: absolute;
		top: 14px;
		left: 10px;
		font-family: 'rt-icons-2';
		content: "\e117";
		font-size: 40px;
		color: #ffffff;
	}

	.toggle_menu.mobile-active span {
		display: none;
	}

	.nav-justified > li > a {
		text-align: left;
	}

	.sf-menu {
		position: fixed;
		overflow: auto;
		background-color: #333333;
		padding: 10px 20px 10px 10px;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 100%;
		font-size: 1.1em;
		text-transform: uppercase;
		font-weight: 400;
		word-wrap: break-word;
		text-align: left;
		-webkit-transition: all 0.4s ease-out 0s;
		transition: all 0.4s ease-out 0s;
		opacity: 0;
	}

	.mobile-active .sf-menu {
		opacity: 1;
		right: 20px;
	}

	.sf-menu > li > a,
  .sf-menu a {
		color: #ffffff;
	}

	.sf-menu ul {
		list-style: none;
		padding-left: 10px;
	}

	.sf-menu ul li a {
		display: block;
		padding: 15px;
		font-weight: 300;
		font-size: 15px;
		text-transform: none;
	}

	.sf-menu ul li a:before {
		content: '-';
		padding-right: 5px;
	}

	.sf-menu ul ul li a:before {
		content: '--';
		padding-right: 5px;
	}
  /*** arrows (for all except IE7) **/
	.sf-arrows .sf-with-ul {
		padding-right: 2.5em;
		*padding-right: 1em;
    /* no CSS arrows for IE7 (lack pseudo-elements) */
	}
  /* styling for both css and generated arrows */
	.sf-arrows .sf-with-ul:after {
		font-family: 'FontAwesome';
		content: '\f107';
		position: absolute;
		right: 1.44em;
		height: 0;
		width: 0;
		font-size: 20px;
	}
  /*top menu level*/
	.sf-arrows .sfHover > a,
  .sf-arrows .sfHover > a:hover {
		color: #ffffff;
		background-color: #333333;
	}
}

@media (min-width: 992px) {
	.sf-menu .md-hidden {
		display: none;
	}
}

@media (max-width: 991px) {
	#more-li {
		display: none;
	}
}

.sf-menu i[class] {
	padding-right: 7px;
	font-size: 1.1em;
}

/* Mega Menu */
@media screen and (min-width: 992px) {
	.primary-navigation ul .mega-menu ul {
		position: static;
		float: none;
		width: 100%;
		display: table;
		table-layout: fixed;
	}

	.primary-navigation .menu-item-has-mega-menu {
		position: relative;
	}

	.primary-navigation .mega-menu {
		display: none;
		position: absolute;
		left: -500px;
		top: 100%;
		z-index: 10;
	}

	.primary-navigation .menu-item-has-mega-menu:hover .mega-menu {
		display: block;
	}
  /* row */
	.primary-navigation .mega-menu-row {
		position: static;
		width: 100%;
		display: table;
		table-layout: fixed;
	}
  /* column */
	.primary-navigation .mega-menu-col {
		display: table-cell;
		width: 1px;
		padding: 0 30px;
		border-left: 1px solid #f5f5f5;
    /* overrides from settings / styling / mega-menu */
	}

	.primary-navigation .mega-menu-col:first-child {
		border-left: none;
	}
}

@media screen and (max-width: 991px) {
	.primary-navigation .mega-menu {
		position: static;
	}
}



/* 
totop 
*/
#toTop {
	bottom: 0;
	right: 0;
	display: none;
	width: 60px;
	height: 40px;
	overflow: hidden;
	position: fixed;
	text-decoration: none;
	z-index: 9999;
	font-size: 0;
	color: transparent;
	background-color: #fcca03;
	opacity: 0.7;
}

#toTop:after {
	color: #ffffff;
	content: '\f106';
	font-size: 16px;
	line-height: 40px;
	font-family: 'FontAwesome';
	text-align: center;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

#toTopHover, #toTop:hover {
	bottom: 3px;
	opacity: 1;
}

#toTop:hover:after {
	color: #ffffff;
}

#toTop:active, #toTop:focus {
	outline: medium none;
}

.modal-open #toTop {
	visibility: hidden;
}



/*Login Bar */
.loginbar {
	top:5px;
	margin:0;
	margin-right:-60px;
	padding:0;
	z-index:9999;
	list-style:none;
	position:relative;
    float: right;
}

@media (max-width: 480px) {
    .loginbar {
        float: right;
		margin-right:5px;		
		z-index:1;
    }
}

.loginbar li {
	display:inline;
	list-style:none;
}

.loginbar li a,
.loginbar li a:hover {
	color:#FFF;
	font-size:9px;
    font-family: 'Roboto', sans-serif;
}

.loginbar li.devider { 
	top:-1px;
	padding:0;
	font-size:8px;
	position:relative;
	margin:0 6px 0 2px;
	font-family:Tahoma;
	border-right:solid 1px #bbb;
}

.loginbar i {
	color:#999;
	font-size:18px;
	margin-top:3px;
	cursor:pointer;
}
/*----Login Bar Index -----*/
/*Login Bar */
.loginbarI {
	top:5px;
	margin:0;
	margin-right:-90px;
	padding:0;
	z-index:9999;
	list-style:none;
	position:relative;
    float: right;
}

@media (max-width: 480px) {
    .loginbarI {
        float: right;
		margin-right:5px;		
		z-index:1;
    }
}

@media (min-width: 1367px) {
	.loginbarI{
		margin-top:20px;
	}
}

.loginbarI li {
	display:inline;
	list-style:none;
}

.loginbarI li a,
.loginbarI li a:hover {
	color:#FFF;
	font-size:9px;
    font-family: 'Roboto', sans-serif;
}

.loginbarI li.devider { 
	top:-1px;
	padding:0;
	font-size:8px;
	position:relative;
	margin:0 6px 0 2px;
	font-family:Tahoma;
	border-right:solid 1px #bbb;
}

.loginbarI i {
	color:#999;
	font-size:18px;
	margin-top:3px;
	cursor:pointer;
}

/*Lenguages*/
.loginbarI li ul { 
	top:18px;
	margin:0;
	left:-6px;
	display:none; 
	padding-top:4px;
	position:absolute; 
	border-radius:3px;
	padding-bottom:4px;
	background:#f0f0f0;
}

.loginbarI li:hover ul { 
	display:block; 
}

.loginbarI li ul li { 
	padding-bottom:0;
	display:list-item;
	position:relative;
	margin-bottom:1px;
}

.loginbarI li ul li a { 
	color:#555;
	display:block;
	min-width:85px; 
	font-size:10px;
	padding:2px 12px;
	background:#f0f0f0;
	text-decoration:none;
}

.loginbarI li ul li a:hover, 
.loginbarI li ul li.active a {
	opacity:1 !important;
	color:#555 !important;
	font-size:10px !important;
	text-shadow:none !important;
	background:#fafafa !important;
}

.loginbarI li ul li.active i {
	top:2px;
	right:-5px;
	font-size:9px;
	cursor:default;
	position:absolute;
	text-shadow:0 1px 0 #e9e9e9;
}

.loginbarI i.icon-globe {
	color:#bbb;
	font-size:13px;
	margin:3px 3px 0 0;
}

.loginbarI li i.icon-sort-up {
	top:0px; 
	left:-1px;
	color:#eee;
	display:none;
	font-size:14px;
	cursor:default;
	position:absolute;
}

.loginbarI li:hover i.icon-sort-up {
	display:block;
}

.loginbarI li:hover i.icon-ok {
	top:-2px;
	color:#aaa;
}

/*Login Bar */
.loginbar {
	top:5px;
	margin:0;
	margin-right:-60px;
	padding:0;
	z-index:9999;
	list-style:none;
	position:relative;
    float: right;
}

@media (max-width: 480px) {
    .loginbar {
        float: right;
		margin-right:5px;		
		z-index:1;
    }
}

@media (min-width: 1367px) {
	.loginbar{
		margin-top:20px;
	}
}

.loginbar li {
	display:inline;
	list-style:none;
}

.loginbar li a,
.loginbar li a:hover {
	color:#FFF;
	font-size:9px;
    font-family: 'Roboto', sans-serif;
}

.loginbar li.devider { 
	top:-1px;
	padding:0;
	font-size:8px;
	position:relative;
	margin:0 6px 0 2px;
	font-family:Tahoma;
	border-right:solid 1px #bbb;
}

.loginbar i {
	color:#999;
	font-size:18px;
	margin-top:3px;
	cursor:pointer;
}

/*Lenguages*/
.loginbar li ul { 
	top:18px;
	margin:0;
	left:-6px;
	display:none; 
	padding-top:4px;
	position:absolute; 
	border-radius:3px;
	padding-bottom:4px;
	background:#f0f0f0;
}

.loginbar li:hover ul { 
	display:block; 
}

.loginbar li ul li { 
	padding-bottom:0;
	display:list-item;
	position:relative;
	margin-bottom:1px;
}

.loginbar li ul li a { 
	color:#555;
	display:block;
	min-width:85px; 
	font-size:10px;
	padding:2px 12px;
	background:#f0f0f0;
	text-decoration:none;
}

.loginbar li ul li a:hover, 
.loginbar li ul li.active a {
	opacity:1 !important;
	color:#555 !important;
	font-size:10px !important;
	text-shadow:none !important;
	background:#fafafa !important;
}

.loginbar li ul li.active i {
	top:2px;
	right:-5px;
	font-size:9px;
	cursor:default;
	position:absolute;
	text-shadow:0 1px 0 #e9e9e9;
}

.loginbar i.icon-globe {
	color:#bbb;
	font-size:13px;
	margin:3px 3px 0 0;
}

.loginbar li i.icon-sort-up {
	top:0px; 
	left:-1px;
	color:#eee;
	display:none;
	font-size:14px;
	cursor:default;
	position:absolute;
}

.loginbar li:hover i.icon-sort-up {
	display:block;
}

.loginbar li:hover i.icon-ok {
	top:-2px;
	color:#aaa;
}
/*--------------------------------------------------------------------------
+	Jobs list Style
--------------------------------------------------------------------------*/
.jobs-list {
  width: 100%;
}
.jobs-list th {
  font-size: 1.2em;
  text-align: left;
  padding: 10px 0;
}
.jobs-list td {
  padding: 5px 20px 5px 0;
  border-top: 1px solid #E6E6E6;
}
.jobs-list tr:last-child td {
  border-bottom: 1px solid #E6E6E6;
}
.job-position a {
  color: #535b60;
  font-size: 0.9em;
}
.job-location,
.job-type {
  font-size: 0.9em;
}

.job-city {
	font-size: 1.1em;
	}

.join-us-promo blockquote {
  margin: 0;
  padding: 0;
  border-left: none;
}
.join-us-promo blockquote p {
  font-size: 1.1em;
  margin-bottom: 20px;
  line-height: 1.5;
}
.join-us-promo .author-info {
  font-weight: 400;
  font-size: 0.8em;
}
.join-us-promo .author-photo {
  text-align: center;
}
.join-us-promo .author-photo img {
  margin: auto;
  border: 5px solid #FFF;
  -webkit-border-radius: 70px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 70px;
  -moz-background-clip: padding;
  border-radius: 70px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  color: inset 0 1px #fff,0 1px 2px #c8cfe6;
}
.join-us-bubble {
  text-align: justify;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 20px 20px 0 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #F1C448;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #fff,0 0 4px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 0 4px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 0 4px #c8cfe6;
  color: inset 0 1px #fff,0 0 4px #c8cfe6;
}
.join-us-bubble::after {
  background: #F1C448;
  content: "\00a0";
  display: block;
  height: 20px;
  width: 20px;
  bottom: -10px;
  left: 45%;
  position: relative;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: inset 0 1px #fff,1px 1px 1px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,1px 1px 1px #c8cfe6;
  box-shadow: inset 0 1px #F1C448,1px 1px 1px #c8cfe6;
  color: inset 0 1px #fff,1px 1px 1px #c8cfe6;
}
.job-details-wrapper p {
  text-align: justify;
}
.calltoaction-wrapper {
    text-align: center;
    color: #fff;
}

/*BUTTON  */
.btn {
    border: 1px solid #F1C448;
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    text-transform: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
    text-align: center;
    background: none repeat scroll 0 0 #98121f;
    text-shadow: none;
    box-shadow: none;
    color: #FFF;
    white-space: nowrap;
}

.events-list tr:hover .event-date {
    border-left: 5px solid #F1C448;
}


.events-list .event-date {
    margin: 3px 0;
    padding: 2px 10px;
    border-left: 5px solid #CFCFCF;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -o-transition: all .25s linear;
    -ms-transition: all .25s linear;
    transition: all .25s linear;
}

.events-list {
    width: 100%;
    font-size: 0.9em;
}

.events-list .event-date .event-month {
    color: #CFCFCF;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
}

.events-list .event-date .event-day {
    color: #808080;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}

.events-list tr td {
    padding: 5px 20px 5px 0;
}

h3 {
    margin-top: 0;
   font-size:16pt;
}	
.section {
    padding: 0px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

/*--------------------------------------------------------------------------
+	Portfolio Style
--------------------------------------------------------------------------*/
.portfolio-item {
   color: #F1C448;
   
  position: relative;
  background: #98121f;
  margin-bottom: 20px;
  border: 8px solid #FFF;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  color: inset 0 1px #fff,0 0 8px #c8cfe6;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.portfolio-item .portfolio-image {
  overflow: hidden;
  text-align: center;
  position: relative;
}
.portfolio-item .portfolio-image img {
  max-width: 100%;/*
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;*/
}
.portfolio-item:hover {
  border: 8px solid #F1C448;
}
.portfolio-item:hover .portfolio-image img {
  position: relative;/*
  -webkit-transform: scale(1.1) rotate(2deg);
  -moz-transform: scale(1.1) rotate(2deg);
  -o-transform: scale(1.1) rotate(2deg);
  -ms-transform: scale(1.1) rotate(2deg);
  transform: scale(1.1) rotate(2deg);*/
}
.portfolio-item ul {
  list-style-type: none;
   margin-left: 0;
  margin-top: 20px;
  text-align: center;
  padding: 0;
}
.portfolio-item ul li {
  line-height: 28px;
}
.portfolio-item .portfolio-project-name {
  font-size: 1.3em;
  text-transform: uppercase;
}
.portfolio-item .read-more {
  text-align: center;
  padding-top: 10px;
}
.portfolio-item .portfolio-info-fade {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  color: #FFF;
  text-shadow: 2px 2px 4px #000000;
  filter: dropshadow(color=#000000, offx=2, offy=2);
  -webkit-transition: opacity .25s linear;
  -moz-transition: opacity .25s linear;
  -o-transition: opacity .25s linear;
  -ms-transition: opacity .25s linear;
  transition: opacity .25s linear;
}
.portfolio-item .portfolio-info-fade ul {
  margin-top: 10%;
}
.portfolio-item .portfolio-info-fade .btn:hover {
  background: #4f8db3;
}
.portfolio-item .portfolio-info-fade ul {
  margin: 10% 20px 0 20px;
  padding: 0;
}
.portfolio-item .portfolio-info-fade ul li {
  text-align: center;
}
.portfolio-item .portfolio-info-fade ul li:first-child {
  border-bottom: 1px solid #CCC;
}
.portfolio-item:hover .portfolio-info-fade {
  display: block;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.lt-ie9 .portfolio-info-fade {
  display: none;
}
.lt-ie9 .portfolio-item:hover .portfolio-info-fade {
  display: block;
}
.portfolio-visit-btn {
  padding-top: 15px;
}
.portfolio-item-description ul {
  padding: 0;
}