#total_revenue {
    font-size: 25px !important;
}
.back-lang {
    float: left;
    margin-top: 6px;
    padding-right: 10px;
}
.lang-kh-en ul {
    background-color: #eee;
}
.lang-kh-en .nav-link.active {
    border: 1px solid #d8dbe0 !important;
}
.mm-left li {
    float: left;
    width: 100%;
}
.nav-tabs-boxed .tab-content {
    width: 100%;
}
