

display-flex, .display-flex, .display-flex-center, .signup-content, .signin-content, .social-login, .socials {

  display: flex;

  display: -webkit-flex; }



list-type-ulli, .socials {

  list-style-type: none;

  margin: 0;

  padding: 0; }







input, textarea {

  outline: none;

  appearance: unset !important;

  -moz-appearance: unset !important;

  -webkit-appearance: unset !important;

  -o-appearance: unset !important;

  -ms-appearance: unset !important; }



input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {

  appearance: none !important;

  -moz-appearance: none !important;

  -webkit-appearance: none !important;

  -o-appearance: none !important;

  -ms-appearance: none !important;

  margin: 0; }



input[type=checkbox] {

  appearance: checkbox !important;

  -moz-appearance: checkbox !important;

  -webkit-appearance: checkbox !important;

  -o-appearance: checkbox !important;

  -ms-appearance: checkbox !important; }



input[type=radio] {

  appearance: radio !important;

  -moz-appearance: radio !important;

  -webkit-appearance: radio !important;

  -o-appearance: radio !important;

  -ms-appearance: radio !important; }



img {

  max-width: 100%;

  height: auto; }



figure {

  margin: 0; }

.main {

  background: #f8f8f8;

  padding: 90px 0; }



.clear {

  clear: both; }







.container_form {

  width: 900px;

  background: #fff;

  margin: 0 auto;

  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);

  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);

  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);

  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);

  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);

  border-radius: 20px;

  -moz-border-radius: 20px;

  -webkit-border-radius: 20px;

  -o-border-radius: 20px;

  -ms-border-radius: 20px; }



.display-flex {

  justify-content: space-between;

  -moz-justify-content: space-between;

  -webkit-justify-content: space-between;

  -o-justify-content: space-between;

  -ms-justify-content: space-between;

  align-items: center;

  -moz-align-items: center;

  -webkit-align-items: center;

  -o-align-items: center;

  -ms-align-items: center; }



.display-flex-center {

  justify-content: center;

  -moz-justify-content: center;

  -webkit-justify-content: center;

  -o-justify-content: center;

  -ms-justify-content: center;

  align-items: center;

  -moz-align-items: center;

  -webkit-align-items: center;

  -o-align-items: center;

  -ms-align-items: center; }



.position-center {

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  -moz-transform: translate(-50%, -50%);

  -webkit-transform: translate(-50%, -50%);

  -o-transform: translate(-50%, -50%);

  -ms-transform: translate(-50%, -50%); }



.signup {

  margin-bottom: 20px; }



.signup-content {

  padding: 75px 0; }



.signup-form, .signup-image, .signin-form, .signin-image {

  width: 50%;

  overflow: hidden; }



.signup-image {

  margin: 0 55px; }



.form-title {

  margin-bottom: 33px; }



.signup-image {

  margin-top: 45px; }



figure {

  margin-bottom: 50px;

  text-align: center; }



.form-submit {

  display: inline-block;

  background: #990000;

  color: #fff;

  border-bottom: none;

  width: auto;

  padding: 15px 39px;

  border-radius: 5px;

  -moz-border-radius: 5px;

  -webkit-border-radius: 5px;

  -o-border-radius: 5px;

  -ms-border-radius: 5px;

  margin-top: 25px;

  cursor: pointer; }

  .form-submit:hover {

    background: #a21915; }



#signin {

  margin-top: 16px; }



.signup-image-link {

  font-size: 14px;

  color: #222;

  display: block;

  text-align: center; }



.term-service {

  font-size: 13px;

  color: #222; }



.signup-form {

  margin-left: 75px;

  margin-right: 75px;

  padding-left: 34px; }



.register-form {

  width: 100%; }



.form-group {

  position: relative;

  margin-bottom: 25px;

  overflow: hidden; }

  .form-group:last-child {

    margin-bottom: 0px; }



input {

  width: 100%;

  display: block;

  border: none;

  border-bottom: 1px solid #999;

  padding: 6px 30px;

  /*font-family: Poppins;*/

  box-sizing: border-box; }

  input::-webkit-input-placeholder {

    color: #999; }

  input::-moz-placeholder {

    color: #999; }

  input:-ms-input-placeholder {

    color: #999; }

  input:-moz-placeholder {

    color: #999; }

  input:focus {

    border-bottom: 1px solid #222; 

	border-top: 0px solid #fff;

	border-left: 0px solid #fff;

	border-right: 0px solid #fff;}

    input:focus::-webkit-input-placeholder {

      color: #222; }

    input:focus::-moz-placeholder {

      color: #222; }

    input:focus:-ms-input-placeholder {

      color: #222; }

    input:focus:-moz-placeholder {

      color: #222; }

input[type=file]{

border-bottom: 0px solid #fff;	

}

input[type=checkbox]:not(old) {

  width: 2em;

  margin: 0;

  padding: 0;

  font-size: 1em;

  display: none; }



input[type=checkbox]:not(old) + label {

  display: inline-block;

  line-height: 1.5em;

  margin-top: 6px; }



input[type=checkbox]:not(old) + label > span {

  display: inline-block;

  width: 13px;

  height: 13px;

  margin-right: 15px;

  margin-bottom: 3px;

  border: 1px solid #999;

  border-radius: 2px;

  -moz-border-radius: 2px;

  -webkit-border-radius: 2px;

  -o-border-radius: 2px;

  -ms-border-radius: 2px;

  background: white;

  background-image: -moz-linear-gradient(white, white);

  background-image: -ms-linear-gradient(white, white);

  background-image: -o-linear-gradient(white, white);

  background-image: -webkit-linear-gradient(white, white);

  background-image: linear-gradient(white, white);

  vertical-align: bottom; }



input[type=checkbox]:not(old):checked + label > span {

  background-image: -moz-linear-gradient(white, white);

  background-image: -ms-linear-gradient(white, white);

  background-image: -o-linear-gradient(white, white);

  background-image: -webkit-linear-gradient(white, white);

  background-image: linear-gradient(white, white); }



input[type=checkbox]:not(old):checked + label > span:before {

  content: '\f26b';

  display: block;

  color: #222;

  font-size: 11px;

  line-height: 1.2;

  text-align: center;

  /*font-family: 'Material-Design-Iconic-Font';*/

  font-weight: bold; }



.agree-term {

  display: inline-block;

  width: auto; }



label {

  position: absolute;

  left: 0;

  top: 50%;

  transform: translateY(-50%);

  -moz-transform: translateY(-50%);

  -webkit-transform: translateY(-50%);

  -o-transform: translateY(-50%);

  -ms-transform: translateY(-50%);

  color: #222; }



.label-has-error {

  top: 22%; }



label.error {

  position: relative;

  background: url("../images/unchecked.gif") no-repeat;

  background-position-y: 3px;

  padding-left: 20px;

  display: block;

  margin-top: 20px; }



label.valid {

  display: block;

  position: absolute;

  right: 0;

  left: auto;

  margin-top: -6px;

  width: 20px;

  height: 20px;

  background: transparent; }

  label.valid:after {

    font-family: 'Material-Design-Iconic-Font';

    content: '\f269';

    width: 100%;

    height: 100%;

    position: absolute;

    /* right: 0; */

    font-size: 16px;

    color: green; }



.label-agree-term {

  position: relative;

  top: 0%;

  transform: translateY(0);

  -moz-transform: translateY(0);

  -webkit-transform: translateY(0);

  -o-transform: translateY(0);

  -ms-transform: translateY(0); }



.material-icons-name {

  font-size: 18px; }



.signin-content {

  padding-top: 67px;

  padding-bottom: 87px; }



.social-login {

  align-items: center;

  -moz-align-items: center;

  -webkit-align-items: center;

  -o-align-items: center;

  -ms-align-items: center;

  margin-top: 80px; }



.social-label {

  display: inline-block;

  margin-right: 15px; }



.socials li {

  padding: 5px; }

  .socials li:last-child {

    margin-right: 0px; }

  .socials li a {

    text-decoration: none; }

    .socials li a i {

      width: 30px;

      height: 30px;

      color: #fff;

      font-size: 14px;

      border-radius: 5px;

      -moz-border-radius: 5px;

      -webkit-border-radius: 5px;

      -o-border-radius: 5px;

      -ms-border-radius: 5px;

      transform: translateZ(0);

      -moz-transform: translateZ(0);

      -webkit-transform: translateZ(0);

      -o-transform: translateZ(0);

      -ms-transform: translateZ(0);

      -webkit-transition-duration: 0.3s;

      transition-duration: 0.3s;

      -webkit-transition-property: transform;

      transition-property: transform;

      -webkit-transition-timing-function: ease-out;

      transition-timing-function: ease-out; }

  .socials li:hover a i {

    -webkit-transform: scale(1.3) translateZ(0);

    transform: scale(1.3) translateZ(0); }



.zmdi-facebook {

  background: #3b5998; }



.zmdi-twitter {

  background: #1da0f2; }



.zmdi-google {

  background: #e72734; }



.signin-form {

  margin-right: 90px;

  margin-left: 80px; }



.signin-image {

  margin-left: 110px;

  margin-right: 20px;

  margin-top: 10px; }



@media screen and (max-width: 1200px) {

  .container {

    width: calc( 100% - 30px);

    max-width: 100%; } }

@media screen and (min-width: 1024px) {

  .container {

    max-width: 1200px; } }

@media screen and (max-width: 768px) {

  .signup-content, .signin-content {

    flex-direction: column;

    -moz-flex-direction: column;

    -webkit-flex-direction: column;

    -o-flex-direction: column;

    -ms-flex-direction: column;

    justify-content: center;

    -moz-justify-content: center;

    -webkit-justify-content: center;

    -o-justify-content: center;

    -ms-justify-content: center; }



  .signup-form {

    margin-left: 0px;

    margin-right: 0px;

    padding-left: 0px;

    /* box-sizing: border-box; */

    padding: 0 30px; }



  .signin-image {

    margin-left: 0px;

    margin-right: 0px;

    margin-top: 50px;

    order: 2;

    -moz-order: 2;

    -webkit-order: 2;

    -o-order: 2;

    -ms-order: 2; }



  .signup-form, .signup-image, .signin-form, .signin-image {

    width: auto; }



  .social-login {

    justify-content: center;

    -moz-justify-content: center;

    -webkit-justify-content: center;

    -o-justify-content: center;

    -ms-justify-content: center; }



  .form-button {

    text-align: center; }



  .signin-form {

    order: 1;

    -moz-order: 1;

    -webkit-order: 1;

    -o-order: 1;

    -ms-order: 1;

    margin-right: 0px;

    margin-left: 0px;

    padding: 0 30px; }



  .form-title {

    text-align: center; } }

@media screen and (max-width: 400px) {

  .social-login {

    flex-direction: column;

    -moz-flex-direction: column;

    -webkit-flex-direction: column;

    -o-flex-direction: column;

    -ms-flex-direction: column; }



  .social-label {

    margin-right: 0px;

    margin-bottom: 10px; } }



/*# sourceMappingURL=style.css.map */

.select-css {

	display: block;

	font-size: 16px;	

	font-weight: 700;

	color: #441a00;

	line-height: 1.3;

	padding: .6em 1.4em .5em .8em;

	width: 100%;

	max-width: 100%;

	box-sizing: border-box;

	margin: 0;

	border: 1px solid #aaa;

	box-shadow: 0 1px 0 1px #ccc;

	border-radius: .5em;

	-moz-appearance: none;

	-webkit-appearance: none;

	appearance: none;

	background-color: #fff;

	/*background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),*/

	background-image: url('../images/others/selectarrow.svg'),

	  linear-gradient(to bottom, #ffffff 0%,#f0efef 100%);

	background-repeat: no-repeat, repeat;

	background-position: right .7em top 50%, 0 0;

	background-size: .65em auto, 100%;

}

.select-css::-ms-expand {

	display: none;

}

.select-css:hover {

	border-color: #882000;

}

.select-css:focus {

	border-color: #aaa;

	box-shadow: 0 0 1px 3px #ccc;

	box-shadow: 0 0 0 3px -moz-mac-focusring;

	color: #220b00;

	outline: none;

}

.select-css option {

	font-weight:normal;

}

/*Card Title*/


.grey-box .blue-title, .submenu-search-box .subtitle {

    position: absolute;

    /*left: -9px;

    top: -20px;*/

	left: 140px;

    top: 75px;

    background: #990000;

    padding: 5px 20px 5px 27px;

    line-height: 26px;

    color: #fff;    

    font-size: 22px;

}



.grey-box .blue-title:before, .submenu-search-box .subtitle:before {

    display: block;

    content: "";

    font-size: 0;

    width: 9px;

    height: 10px;

    position: absolute;

    top: 100%;

    left: 0;

    background: url(../images/others/sprites.png) no-repeat -279px 0;

}



/*Iphone 5*/

@media (max-width: 320px) and (orientation:portrait){

	.grey-box .blue-title, .submenu-search-box .subtitle {

		position: absolute;  

		left: 20px;

		top: 75px;

		background: #990000;

		padding: 5px 20px 5px 27px;

		line-height: 26px;

		color: #fff;    

		font-size: 22px;

	}



}



@media (max-width: 568px) and (orientation:landscape){

	.grey-box .blue-title, .submenu-search-box .subtitle {

		position: absolute; 

		background: #990000;

		padding: 5px 20px 5px 27px;

		line-height: 26px;

		color: #fff;    

		font-size: 22px;

	}

	

}



/*Iphone 6*/

@media (max-width: 375px) and (min-width:321px) and (orientation:portrait){

	.grey-box .blue-title, .submenu-search-box .subtitle {

		position: absolute;  

		left: 20px;

		top: 75px;

		background: #990000;

		padding: 5px 20px 5px 27px;

		line-height: 26px;

		color: #fff;    

		font-size: 22px;

	}

	

}



@media (max-width: 736px) and (min-width:414px) and (orientation:landscape){

	.grey-box .blue-title, .submenu-search-box .subtitle {

		position: absolute;  

		left: 20px;

		top: 75px;

		background: #990000;

		padding: 5px 20px 5px 27px;

		line-height: 26px;

		color: #fff;    

		font-size: 22px;

	}

	

}



@media (max-width: 812px) and (min-width:375px) and (orientation:landscape){

	.grey-box .blue-title, .submenu-search-box .subtitle {

		position: absolute;  

		left: 20px;

		top: 75px;

		background: #990000;

		padding: 5px 20px 5px 27px;

		line-height: 26px;

		color: #fff;    

		font-size: 22px;

	}

	

}



@media (max-width: 1024px) and (min-width:768px) and (orientation:landscape){

	.grey-box .blue-title, .submenu-search-box .subtitle {

		position: absolute;  

		left: 20px;

		top: 75px;

		background: #990000;

		padding: 5px 20px 5px 27px;

		line-height: 26px;

		color: #fff;    

		font-size: 22px;

	}

	

}



@media (max-width: 823px) and (min-width:411px) and (orientation:landscape){

	.grey-box .blue-title, .submenu-search-box .subtitle {

		position: absolute;  

		left: 20px;

		top: 75px;

		background: #990000;

		padding: 5px 20px 5px 27px;

		line-height: 26px;

		color: #fff;    

		font-size: 22px;

	}

	

}



@media (max-width: 667px) and (min-width:569px) and (orientation:landscape){

	.grey-box .blue-title, .submenu-search-box .subtitle {

		position: absolute;

		background: #990000;

		padding: 5px 20px 5px 27px;

		line-height: 26px;

		color: #fff;    

		font-size: 22px;

	}

	

}



@media (max-width: 720px) and (min-width:540px) and (orientation:portrait){

	.grey-box .blue-title, .submenu-search-box .subtitle {

		position: absolute;  

		left: 20px;

		top: 75px;

		background: #990000;

		padding: 5px 20px 5px 27px;

		line-height: 26px;

		color: #fff;    

		font-size: 22px;

	}

	

}



/*Iphone 6 plus*/

@media (max-width:414px) and (min-width:321px) and (orientation:portrait){

	.grey-box .blue-title, .submenu-search-box .subtitle {

		position: absolute;  

		left: 20px;

		top: 75px;

		background: #990000;

		padding: 5px 20px 5px 27px;

		line-height: 26px;

		color: #fff;    

		font-size: 22px;

	}

	

}



@media (max-width: 736px) and (min-width:569px) and (orientation:landscape){

	.grey-box .blue-title, .submenu-search-box .subtitle {

		position: absolute; 

		background: #990000;

		padding: 5px 20px 5px 27px;

		line-height: 26px;

		color: #fff;    

		font-size: 22px;

	}

	

}





/*Nexus 7 Portrait*/

@media (max-width:960px) and (min-width:569px) and (orientation:portrait){

	.grey-box .blue-title, .submenu-search-box .subtitle {

			position: absolute;  

			left: 20px;

			top: 75px;

			background: #990000;

			padding: 5px 20px 5px 27px;

			line-height: 26px;

			color: #fff;    

			font-size: 22px;

		}	

}



/*Nexus 7 Portrait*/

@media (max-width:1366px) and (min-width:1024px) and (orientation:portrait){

	.grey-box .blue-title, .submenu-search-box .subtitle {

			position: absolute;  

			left: 20px;

			top: 75px;

			background: #990000;

			padding: 5px 20px 5px 27px;

			line-height: 26px;

			color: #fff;    

			font-size: 22px;

		}	

}