/*Color*/
input:focus, select:focus, textarea:focus, .au-input-2:focus {
  border: 1px solid #d98b0f;
}

.social-item-1:hover {
  background: #f39c12;
}

.social-item-4:hover {
  background: none;
}

.bg-primary {
  background: #f39c12;
  color: #fff;
}

.bg-primary a {
  color: #fff;
}

.bg-white .au-btn-primary {
  color: #fff;
}

.bg-white .au-btn-primary:hover {
  color: #fff;
}

.bg-white a:hover {
  color: #d98b0f;
}

.au-btn-grey:hover {
  background: #d98b0f;
  color: #fff;
  border-color: #d98b0f;
}

.au-btn-border-light:hover {
  background: #fff;
  border-color: #fff;
  color: #f39c12 !important;
}

.au-btn-border-primary {
  border: 2px solid #f39c12;
  color: #f39c12;
}

.au-btn-border-primary:hover {
  background: #f39c12;
  color: #fff;
}

.au-btn-primary {
  background: #f39c12;
  color: #fff;
  border: 1px solid #f39c12;
}

.au-btn-primary:hover {
  border: 1px solid #d98b0f;
  background: #d98b0f;
  color: #fff;
}

.au-btn-white {
  background: #fff;
  color: #f39c12;
  border: 1px solid #fff;
}

.au-btn-white:hover {
  background: #d98b0f;
  border: 1px solid #d98b0f;
  color: #fff;
}

.slider-1 .caption-3 .au-btn-white:hover {
  color: #d98b0f;
}

.navbar-1 li a:hover {
  color: #f39c12;
}

.navbar-1 li.drop .drop-menu li a {
  background: #f39c12;
  color: #fff;
  border-bottom: 1px solid #d98b0f;
}

.navbar-1 li.drop .drop-menu li a:hover {
  background: #d98b0f;
  color: #fff;
}

.search-widget-1.search-widget-open .icon-search {
  background: #f39c12;
}

.search-widget-1.search-widget-open .icon-search:after {
  color: #fff;
}

.navbar-mobile-1 {
  background: #f39c12;
}

.navbar-mobile-1 ul.au-navbar-menu li.drop .drop-menu {
  background: #e5f1fc;
}

.navbar-mobile-1 ul.au-navbar-menu li.drop .drop-menu li a {
  border-bottom: 1px solid #e1e1e1;
  color: #f39c12;
}

.navbar-mobile-1 ul.au-navbar-menu li a {
  border-bottom: 1px solid #d98b0f;
}

.navbar-mobile-1 ul.au-navbar-menu li.drop .drop-menu .drop li a {
  background: #fff;
  border-bottom: 0;
}

.navbar-mobile-1 ul.au-navbar-menu li.drop > .clicked i:after, .navbar-mobile-1 ul.au-navbar-menu li.drop > .clicked i:before {
  background: #ffffff;
}

.navbar-mobile-1 ul.au-navbar-menu li:hover > a {
  color: #ffffff;
}

.slider-1 .tparrows {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  -moz-transition: 0.3s all;
  transition: 0.3s all;
}

.slider-1 .tparrows:hover {
  background: #f39c12;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  -moz-transition: 0.3s all;
  transition: 0.3s all;
}

.slider-1 .tparrows:hover:before {
  opacity: 1;
}

.icon-box-2 .icon {
  background: #f39c12;
}

.au-progress .au-progress-bar {
  background: #f39c12;
}

.bg-overlay {
  background: rgba(243, 156, 18, 0.8);
}

.au-select .chosen-container .chosen-results li.highlighted {
  background: none;
  color: #f39c12;
}

.au-select .chosen-container .chosen-drop ul li:hover, .au-select .chosen-container .chosen-drop ul li.result-selected {
  color: #f39c12;
}

.image-card-1.dark .link a {
  color: #f39c12;
}

.image-card-3 .title a:hover {
  background: #f39c12;
  color: #fff;
}

.image-card-4 a {
  color: #f39c12;
}

.image-card-4 a:hover {
  color: #d98b0f;
}

.footer-1.footer .social-item-1 a:hover {
  color: #fff;
}

.footer-1.footer a:hover {
  color: #d98b0f;
}

.heading-section-2 h3:after {
  background: #f39c12;
}

.heading-section-2.bar-white h3:after {
  background: #fff;
}

.owl-carousel.nav-style-2.dark .owl-nav .owl-prev:hover, .owl-carousel.nav-style-2.dark .owl-nav .owl-next:hover {
  background: #f39c12;
  border-color: #f39c12;
}

.owl-carousel.nav-style-2.dark .owl-nav .owl-prev:hover i, .owl-carousel.nav-style-2.dark .owl-nav .owl-next:hover i {
  color: #fff;
}

.owl-carousel.nav-style-1.dark .owl-nav .owl-prev:hover, .owl-carousel.nav-style-1.dark .owl-nav .owl-next:hover {
  background: #f39c12;
  border-color: #f39c12;
}

.owl-carousel.nav-style-1.dark .owl-nav .owl-prev:hover i, .owl-carousel.nav-style-1.dark .owl-nav .owl-next:hover i {
  color: #fff;
}

.icon-box-5 .icon {
  background: #f39c12;
}

.icon-box-5 .content .title a:hover, .icon-box-6 .title a:hover {
  color: #d98b0f;
}

.image-card-6 .job-title span {
  color: #f39c12;
}

.header-2.light .navbar-1 ul li a:hover {
  color: #f39c12;
}

.navbar-1 ul li.drop .drop-menu li a:hover {
  color: #fff;
}

.accordion-box-2 .accordion.open .accordion-title {
  background: #f39c12;
}

.au-progress-2 .au-progress-bar .bar {
  stroke: rgba(242, 242, 242, 0.2);
}

.au-progress-2 .au-progress-bar .bar-color {
  stroke: #f39c12;
}

.progress-box-2 .au-progress-bar {
  background: none;
}

.post-tabs-1 li.active a {
  color: #f39c12;
  border-color: #f39c12;
}

.post-tabs-1 li a:hover {
  border-color: #f39c12;
  color: #f39c12;
}

.banner-contact {
  background: #f39c12;
}

.banner-contact h4, .banner-contact p {
  color: #fff;
}

.owl-carousel.nav-style-3 .owl-nav .owl-prev:hover, .owl-carousel.nav-style-3 .owl-nav .owl-next:hover {
  background: #f39c12;
}

.owl-carousel.dots-style-1 .owl-dots .owl-dot.active {
  background: #f39c12;
}

.project-tabs li.active span {
  color: #f39c12;
}

.au-paginations li:not(.next) a:hover, .au-paginations li:not(.next).active a,
.au-paginations li:not(.prev) a:hover, .au-paginations li:not(.prev).active a {
  background: #f39c12;
  color: #fff;
  border-color: #f39c12;
}

.au-paginations li.next a:hover, .au-paginations li.prev a:hover {
  color: #f39c12;
  background: none;
}

.post-section-2 .post-info p a:hover {
  color: #f39c12;
}

.tags .tag a:hover {
  background: #f39c12;
  border-color: #f39c12;
  color: #fff;
}

.post-author a:hover {
  color: #f39c12;
}

.social-item-3.text:hover {
  background: none;
}

.post-comments .comments-item .comment-content .author-info .reply-link:hover {
  color: #f39c12;
}

.search-widget-2 .icon-search a:hover {
  background: #f39c12;
}

.sidebar-lists-1 li a:hover, .sidebar-lists-2 li a:hover, .image-card-9 .content .title a:hover {
  color: #f39c12;
}

.au-timeline .date {
  color: #f39c12;
}

.au-timeline .timeline-block .icon-dot {
  background: #f39c12;
}

.au-timeline:after {
  background: #e5f1fc;
}

.leaderships .leadership .leadership-content a {
  color: #f39c12;
}

.leaderships .leadership .leadership-content a:hover {
  color: #d98b0f;
}

.heading-page-1 .breadcrumbs li a:hover {
  color: #d98b0f;
}

.partnerships .partnership a, .leaderships .leadership a.text-black {
  color: #333333;
}

.partnerships .partnership a:hover, .leaderships .leadership a.text-black:hover {
  color: #d98b0f;
}

.contact-map-section-1 .controls li.active a {
  color: #f39c12 !important;
}

.contact-map-section-1 .controls li:hover a {
  color: #d98b0f !important;
}

.contact-map-section-1 .google-map .gm-style-iw ul li {
  color: #f39c12;
}

#switcher .btn-buy {
  background: #f39c12;
}

#switcher .btn-buy:hover {
  background: #d98b0f;
}
