/* CSS reset */

.container2{
	width: 100%;
	position: relative;
	text-align: center;
}
.clr2{
	clear: both;
}
.container2 > header{
	padding: 30px 30px 10px 30px;
	margin: 0px 20px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: right;
}
.container2 > header h1{
	/*font-family: 'Bitter', Arial, sans-serif;*/
	font-size: 30px;
	line-height: 40px;
	position: relative;
	font-weight: 400;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 0px 0px 5px 0px;
}
.container2 > header h1 span{
	color: #000;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.container2 > header h2{
	font-size: 16px;
	font-style: italic;
	padding: 0px 0px 15px 0px;
}
/* Header Style */
.codrops-top2{
	/*font-family:'Arial Narrow', Arial, sans-serif;*/
	line-height: 24px;
	font-size: 11px;
	background: #000;
	opacity: 0.9;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
}
.codrops-top2 a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #ddd;
	display: block;
	float: left;
}
.codrops-top2 a:hover{
	color: #fff;
}
.codrops-top2 span.right{
	float: right;
}
.codrops-top2 span.right a{
	float: none;
	display: inline;
}
p.codrops-demos2{
    text-align:center;
	display: block;
	line-height: 30px;
	padding: 20px 0px;
	position: absolute;
	top: 15px;
	left: 20px;
}
p.codrops-demos2 a{
    display: inline-block;
	width: 60px;
	height: 60px;
	background: #000;
	margin: 0px 4px;
	color: #fff;
	line-height: 60px;	
	font-style: italic;
	font-weight: bold;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 50%;
	font-size: 13px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.2);
}

p.codrops-demos2 a:hover{
	background: #444;
}
p.codrops-demos2 a.current-demo,
p.codrops-demos2 a.current-demo:hover{
	background: #950158;

}
/* Media Queries */
@media screen and (max-width: 767px) {
	.container2 > header{
		text-align: center;
	}
	p.codrops-demos2 {
		position: relative;
		top: auto;
		left: auto;
	}
}