.se-container2{
	display: block;
	width: 100%;
	overflow: hidden;
	box-shadow: 0px 0px 10px #000;
}
.se-slope2{
	width: 50%;
	height: 300px;
	position: relative;
	float: left;
	overflow: hidden;
}
.se-slope2 .se-content2{
	margin: 50px 100px 0px 100px;
}
.se-slope-black2{
	background: #fb9504;
}
.se-slope-pink2{
	background: #911419;
}
.se-slope-black2:nth-child(odd):after,
.se-slope-black2:nth-child(even):after{
	content: '';
	position: absolute;
	display: block;
	bottom: 0px;
	width: 0px;
	height: 0px;
	border-top: 150px solid transparent;
	border-bottom: 150px solid transparent;
}
.se-slope-black2:nth-child(odd):after{
	border-right: 60px solid #911419;
	right: 0px;
}
.se-slope-black2:nth-child(even):after{
	border-left: 60px solid #911419;
	left: 0px;
}
.se-content2 h3{
	z-index: 10;
	font-size: 25px;
	margin-top: 20px;
	position: relative;
	display: inline-block;
	padding: 15px 20px;
	line-height: 40px;
	height: 70px !important;
	/*font-family: 'Bitter', 'Trebuchet MS', Arial;*/
	text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
}
.se-slope2.se-slope-black2 h3{
	background: #e75f05;
}
.se-slope2.se-slope-pink2 h3{
	background: #680e11;
}
.se-slope2.se-slope-black2 h3:after,
.se-slope2.se-slope-black2 h3:before,
.se-slope2.se-slope-pink2 h3:after,
.se-slope2.se-slope-pink2 h3:before{
	content: '';
	width: 0px;
	height: 0px;
	top: 0px;
	position: absolute;
}
.se-slope2.se-slope-black2 h3:after{
	border-top: 70px solid transparent;
	border-left: 30px solid #e75f05;
	right: -30px;
}
.se-slope2.se-slope-black2 h3:before{
	border-bottom: 70px solid transparent;
	border-right: 30px solid #e75f05;
	left: -30px;
}
.se-slope2.se-slope-pink2 h3:after{
	border-top: 70px solid transparent;
	border-right: 30px solid #680e11;
	left: -30px;
}
.se-slope2.se-slope-pink2 h3:before{
	border-bottom: 70px solid transparent;
	border-left: 30px solid #680e11;
	right: -30px;
}
.se-content2 p{
	/*position: absolute;
	z-index: 9;
	opacity: 0.3;*/
	padding-top:20px;
	font-size: 16px;
	text-align: left;
	/*-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
	-o-transform-origin: top center;
	-ms-transform-origin: top center;
	transform-origin: top center;*/
}
.se-slope2:nth-child(even) .se-content2 p{
	/*-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	transform: rotate(-15deg);
	top:1px;
	right: 1px;*/
	text-align: center;
	
}
.se-slope2:nth-child(odd) .se-content2 p{
	/*-webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	transform: rotate(15deg);
	top: -100px;
	left: -50px;
	text-align: right;*/
	text-align: center;;
	width: 90%;
}
.se-slope2.sl-slope-pink2 .se-content2 p{
	color: #000;
}
/* Media Queries */
@media screen and (max-width: 767px) {
	.se-slope2{
		float: none;
		width: 100%;
	}
	.se-slope2 .se-content2 {
		margin: 50px 0px 0px 0px;
	}
	.se-slope-black2:nth-child(odd):after,
	.se-slope-black2:nth-child(even):after{
		display: none;
	}
}
@media screen and (max-width: 959px) {
	.se-content2 h3{
		font-size: 20px;
	}
}